{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-about{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

		<aside>

			<section>

				{% include "partials/contact.html.twig" %}

				<a href="{{ page.find("/contact").url }}" class="contact-us" data-link="true">
					<h3>Contactez-nous !</h3>
					<p>Nous sommes à votre disposition pour tout renseignement, alors n'hésitez pas.</p>
					<i class="icon icon-mail help"></i>
					<i class="icon icon-arrow-right arrow"></i>
				</a>

			</section>

			{% if page.header.status.file %}
				<section>

					<h3>Nos Statuts</h3>

					<nav class="subnavigation">
						<ul>
							<li><a href="{{ page.media[page.header.status.file].url }}" target="_blank">{{ page.header.status.name }} <i class="icon icon-arrow-right"></i></a></li>
						</ul>
					</nav>
				</section>
			{% endif %}

			<section>

				<h3>Rapports d'activité</h3>

				<nav class="subnavigation">
					<ul>
						{% for report in page.header.reports %}
							<li><a href="{{ page.media[report.file].url }}" target="_blank">{{ report.name }} <i class="icon icon-arrow-right"></i></a></li>
						{% endfor %}
					</ul>
				</nav>
			</section>

		</aside>

		<section class="content">

			{{ content|markdown }}

			<ul class="about-comite">
			{% for person in page.header.comite %}
				<li>
					<figure>
						<img src="{{ page.media[person.image].url }}"/>
					</figure>
					<span class="name">{{ person.name }}</span>
					<span class="role">{{ person.role }}</span>
				</li>
			{% endfor %}
			</ul>

		</section>

	</div>

	<!--
	<section class="donation-sponsor" id="section-sponsors">
		<div class="wrapper-content">

			<h2>Quelques statistiques...</h2>

			<ul>
				{% for donator in page.find('/donation').header.donations %}
					<li>
						<a href="{{ donator.url }}" target="_blank">
							<img src="{{ page.find("/donation").media[donator.logo].grayscale.url }}" alt="{{ donator.name }}"/>
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>
	-->

{% endblock %}