{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-contact{% endblock %}

{% block header %}
    {% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

    <div class="wrapper">

        <aside>

            <section>

                {% include "partials/contact.html.twig" %}

            </section>

            <section>

                <h3>Compléments d'information</h3>

                <nav class="subnavigation">
                    <ul>
                        {% for p in page.find("/actions").children if p.routable %}
                            <li><a href="{{ p.url }}">{{ p.header.title }} <i class="icon icon-arrow-right"></i></a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="ask-for-help" data-link="true">
                    <h3>Demande d'aide</h3>
                    <p><a href="{{ page.find("/aide").url }}">Formulaires et inscription</a></p>
                    <i class="icon icon-blog help"></i>
                    <i class="icon icon-arrow-right arrow"></i>
                </div>
            </section>

        </aside>

        <section class="content">

            {{ content|markdown }}

            {% include "forms/contact.html.twig" %}

        </section>

    </div>


    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}

{% endblock %}
