{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-donate{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

		<aside>

			<section>

				<h3>Autres types de dons <span>pour le secours d'hiver</span></h3>

				<nav class="subnavigation">
					<ul>
						{% for p in page.find("/donations").children if p.routable %}
							<li><a href="{{ p.url }}">{{ p.header.title }} <i class="icon icon-arrow-right"></i></a></li>
						{% endfor %}
					</ul>
				</nav>
			</section>

			<section class="certification-zewo">
				<img src="{{ url("theme://images/logo-zewo-mini.png") }}"/>
				<h3>certification zewo! <span>renforcer la confiance</span></h3>
				<p><strong>Le label de qualité est un certificat unique en son genre pour les organisations d’utilité publique collectant des dons</strong>. La Zewo veille à la clarté et à l’honnêteté des organisations collectant des dons et favorise la confiance de la société envers l’activité d’utilité publique.</p>
				<p><a href="https://www.zewo.ch/fr/dons/chercher-des-uvres-de-bienfaisance/trouvez-une-organisation-portant-le-label-de-qualite-zewo#detail&key=409&name=3382%20%2F%20Secours%20d'hiver%20Vaud%2C%20Av.%20du%20Ch%C3%A2teau%201%2C%20Prilly" target="_blank">Vérifier notre statut auprès de Zewo</a></p>
			</section>

		</aside>

		<section class="content">

			{% if page.parent.root == false and page.parent.children.count > 0 %}
				<a href="{{ page.parent.url }}" class="back"><i class="icon icon-arrow-left"></i> {{ page.parent.header.title }}</a>
			{% endif %}

			{{ content|markdown }}

			{% include "forms/donation.html.twig" %}

			<h2>Versement ou virement bancaire</h2>

			<p class="ccp">
				<strong>{{ site.name }}, {{ site.address.zipcode }} {{ site.address.city }}</strong><br>
				{{site.CCP}}
			</p>

			<h2>Don facile et rapide ?</h2>

			<p class="ccp">
				<strong>Faites un don de CHF 2.- par SMS</strong><br>
				Envoyez "BESOIN-VD" au 339
			</p>


			<p>{{ page.find("/donations").media['merci.png'].html('Merci', 'Merci', 'none')|raw }}</p>

		</section>


	</div>


	{% for module in page.collection() %}
		<div id="{{ _self.pageLinkName(module.menu) }}"></div>
		{{ module.content|raw }}
	{% endfor %}


{% endblock %}