{% extends 'layouts/master.html.twig' %}

{% block content %}
<div class="wrapper">
	<div id="error" style="padding-top: 60px;">
		<div>
			<h1>Error {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
	</div>
{% endblock %}
