{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-home{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}


	{% include "partials/actions.html.twig" %}

	<div class="wrapper">

	<section class="introduction">
		<div class="wrapper-content">
			{{ content|markdown }}
		</div>
	</section>

	<aside>

		{% set unique_id = 'ls-' ~ random_string(10) %}

		<script type="text/javascript">
			$(document).ready(function() {
				$("#{{ unique_id }}").lightSlider({
					item:1,
					loop:true,
					auto:true,
					pauseOnHover:true,
					pause:2000
				});
			});
		</script>


		<div class="slider-homepage">
			<h2>Evénements et sorties</h2>
			<a href="{{ page.find("/blog").url }}" class="view-all"><i class="icon icon-more"></i> tout voir</a>
			<div id="{{ unique_id }}-wrapper">
				<ul id="{{ unique_id }}">
					{% for post in page.find('/blog').collection({'items':{'@taxonomy.category': ['événement']}}).published.order('date', 'desc').slice(0, 5) %}
						<li class="recent-posts">
							<article data-link="true">
								{% set header_image = post.header.image|defined(false) %}
								{% set header_image_media = null %}
								{% if header_image %}
									{% set header_image_media = post.media.images[header_image] %}
									<figure>
										{{ header_image_media.cropZoom(400, 300).html|raw }}
									</figure>
								{% else %}
									<figure>
										<img src="" style="height:300px;width:400px;"/>
									</figure>
								{% endif %}
								<header>
									<time>{{ post.date|date("d.m.Y H:i:s") }}</time>
									<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									<p>{{ post.header.headline }}</p>
								</header>
							</article>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>





		<div class="news-homepage">
			<h2>Actualités</h2>
			<a href="{{ page.find("/blog").url }}" class="view-all"><i class="icon icon-more"></i> tout voir</a>
			<ul>
				{% for post in page.find('/blog').collection({'items':{'@taxonomy.category': ['actualités']}}).published.order('date', 'desc').slice(0, 2) %}
					<li class="recent-posts">
						<article data-link="true">
							{% set header_image = post.header.image|defined(false) %}
							{% set header_image_media = null %}
							{% if header_image %}
								{% set header_image_media = post.media[header_image] %}
							{% endif %}
							{% if header_image %}
								<figure>
									{{ header_image_media.cropZoom(300, 300).html|raw }}
								</figure>
							{% else %}
								<figure>
									<img src="{{ url("theme://images/placeholder.png") }}"/>
								</figure>
							{% endif %}
							<header>
								<time>
									<span>{{ post.date|date("d") }}.{{ post.date|date("m") }}</span>
									<span>{{ post.date|date("Y") }}</span>
								</time>
								<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
								<p>{{ post.header.headline }}</p>
								<span class="more"><i class="icon icon-more"></i></span>
							</header>
						</article>
					</li>
				{% endfor %}
			</ul>
		</div>

	</aside>


	</div>


	<section id="section-sponsors" class="donation-sponsor">
		<div class="wrapper-content">

			<h2>Merci pour votre soutien !</h2>
			<a href="{{ page.find("/donateurs").url }}" class="view-all"><i class="icon icon-more"></i> tout voir</a>

			<ul>
				{% for donator in page.find('/donateurs').header.companies %}
				<li>
					<a href="#">
						<img src="{{ url("theme://images/logo/"~donator.logo) }}" title="{{ donator.name }}"/>
					</a>
				</li>
				{% endfor %}
			</ul>

		</div>
	</section>

{% endblock %}