{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-donate{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

	<aside>

		<section>

			<h3>Autres types de dons <span>pour le secours d'hiver</span></h3>

			<nav class="subnavigation">
				<ul>
					{% for page in page.find("/donations").children if page.routable %}
						<li><a href="{{ page.url }}">{{ page.header.title }} <i class="icon icon-arrow-right"></i></a></li>
					{% endfor %}
				</ul>
			</nav>
			<!--
			<div class="ask-for-donation" data-link="true">
				<h3>Faire un don</h3>
				<p><a href="{{ page.find("/faire-un-don").url }}">Dons en ligne</a></p>
				<i class="icon icon-heart help"></i>
				<i class="icon icon-arrow-right arrow"></i>
			</div>
			-->
		</section>

	</aside>

	<section class="content">

		{% if page.parent.root == false and page.parent.children.count > 0 %}
			<a href="{{ page.parent.url }}" class="back"><i class="icon icon-arrow-left"></i> {{ page.parent.header.title }}</a>
		{% endif %}

		{{ content|markdown }}

		<p>{{ page.find("/donations").media['merci.png'].html('Merci', 'Merci', 'none')|raw }}</p>

	</section>

	</div>


{% endblock %}