{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-donate{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

		<aside>

			<section class="certification-zewo">
				<a href="https://www.zewo.ch/fr/dons/chercher-des-uvres-de-bienfaisance/trouvez-une-organisation-portant-le-label-de-qualite-zewo#detail&key=409&name=3382%20%2F%20Secours%20d'hiver%20Vaud%2C%20Av.%20du%20Ch%C3%A2teau%201%2C%20Prilly" target="_blank">
					<img src="{{ url("theme://images/logo-zewo-mini.png") }}"/>
					<h3>certification zewo! <span>renforcer la confiance</span></h3></a>
			</section>

			<section>

				<h3>Historique des donateurs</h3>

				<nav class="subnavigation">
					<ul>
						{% for page in page.find("/donateurs").children.order("default", "desc") if page.routable %}
							<li><a href="{{ page.url }}">{{ page.header.title }} <i class="icon icon-arrow-right"></i></a></li>
						{% endfor %}
					</ul>
				</nav>

				<div class="ask-for-donation" data-link="true">
					<h3>Rejoindre nos donateurs ?</h3>
					<p><a href="{{ page.find("/donations/faire-un-don").url }}">Faites un don</a></p>
					<i class="icon icon-shv-coeur help"></i>
					<i class="icon icon-arrow-right arrow"></i>
				</div>
			</section>


		</aside>

		<section class="content">

			{{ content|markdown }}

			<h2>Donateurs privés</h2>
			<ul class="donation-persons">
			{% for person in page.header.persons %}
				<li>
					<figure>
						<i class="icon icon-user"></i>
					</figure>
					<div>
						<span class="name">{{ person.name }}</span>
						<span class="region">{{ person.region }}</span>
					</div>
				</li>
			{% endfor %}
			</ul>

			<h2>Communes et entreprises</h2>
			<ul class="donation-companies">
				{% for company in page.header.companies %}
					<li>
						{% if company.url is not empty  %}
							<a href="{{ company.url }}" target="_blank">
								<img src="{{ url("theme://images/logo/"~company.logo) }}" title="{{ company.name }}"/>
							</a>
						{% else %}
							<img src="{{ url("theme://images/logo/"~company.logo) }}" title="{{ company.name }}"/>
						{% endif %}
					</li>
				{% endfor %}
			</ul>

		</section>

	</div>

	<!--
	<section class="donation-sponsor" id="section-sponsors">
		<div class="wrapper-content">

			<h2>Quelques statistiques...</h2>

			<ul>
				{% for donator in page.find('/donation').header.donations %}
					<li>
						<a href="{{ donator.url }}" target="_blank">
							<img src="{{ page.find("/donation").media[donator.logo].grayscale.url }}" alt="{{ donator.name }}"/>
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>
	-->

{% endblock %}