{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-actions{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}


	<div class="wrapper">

		<aside>

			<section>

				<h3>Toutes nos actions</h3>

				<nav class="subnavigation">
					<ul>
						{% for page in page.find("/actions").children %}
							<li><a href="{{ page.url }}">{{ page.header.title }} <i class="icon icon-arrow-right"></i></a></li>
						{% endfor %}
					</ul>
				</nav>

				<div class="ask-for-help" data-link="true">
					<h3>Demande d'aide</h3>
					<p><a href="{{ page.find("/aide").url }}">Formulaires et inscription</a></p>
					<i class="icon icon-blog help"></i>
					<i class="icon icon-arrow-right arrow"></i>
				</div>
			</section>

		</aside>

		<section class="content">

			{% if page.parent.root == false and page.parent.children.count > 0 %}
				<a href="{{ page.parent.url }}" class="back"><i class="icon icon-arrow-left"></i> {{ page.parent.header.title }}</a>
			{% endif %}

			{{ content|markdown }}

		</section>

	</div>


	{% if page.children.count > 0 %}
		{% include "partials/actions.html.twig" %}
	{% endif %}


{% endblock %}