{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-donate{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

		<section class="content">

			{{ content|markdown }}

			<h2>Liste des campagnes</h2>
			<ul class="media-campaigns">
			{% for campaign in page.header.campaigns %}
				<li class="{{ campaign.format }}">
					<h3 class="name">{{ campaign.title }}</h3>
					{% if campaign.url is not empty %}
						<a href="{{ campaign.url }}" target="_blank">
							<figure>
								<img src="{{ page.media[campaign.image].url }}" title="{{ campaign.title }}"/>
							</figure>
						</a>
					{% elseif campaign.document is not empty %}
						<a href="{{ page.media[campaign.document].url }}" target="_blank">
							<figure>
								<img src="{{ page.media[campaign.image].url }}" title="{{ campaign.title }}"/>
							</figure>
						</a>
					{% else %}
						<figure>
							<img src="{{ page.media[campaign.image].url }}" title="{{ campaign.title }}"/>
						</figure>
					{% endif %}
				</li>
			{% endfor %}
			</ul>

		</section>

	</div>



{% endblock %}