{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<div class="wrapper">

		<aside>

			<section>

				<h3>Toutes nos actions</h3>

				<nav class="subnavigation">
					<ul>
						{% for page in page.find("/actions").children %}
							<li><a href="{{ page.url }}">{{ page.header.title }} <i class="icon icon-arrow-right"></i></a></li>
						{% endfor %}
					</ul>
				</nav>

				<div class="ask-for-help" data-link="true">
					<h3>Demande d'aide</h3>
					<p><a href="{{ page.url }}">Formulaires et inscription</a></p>
					<i class="icon icon-blog help"></i>
					<i class="icon icon-arrow-right arrow"></i>
				</div>
			</section>

		</aside>

		<section class="content">

			{{ content|markdown }}

		</section>

	</div>



{% endblock %}