{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-blog-article{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<article itemscope itemtype="http://schema.org/BlogPosting" class="block common-blog" xng-controller="blogController">
		<div class="wrapper-content">

			<div class="content common-blog-article">
				{% include 'partials/blog.item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>

			<div class="common-blog-aside">

				{% include 'partials/blog.categories.html.twig' with {'blog':page} %}

			</div>

		</div>
	</article>

{% endblock %}
