{% extends 'partials/base.html.twig' %}

{% block bodyClass %}page-interior{% endblock %}

{% block header %}
    {% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}

    {{ page.content }}

{% endblock %}
