{% extends 'partials/base.html.twig' %}

{% block bodyClass %}page-interior page-product{% endblock %}


{% block content %}

    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}


    <section class="products-menu">
        <div class="wrapper-content">
            <select onChange="location.href=this.options[this.selectedIndex].value;">
                {% for product in page.find("/products/_products").header.products %}
                    <option value="{{ page.find(product.url).url }}" {% if strtolower(product.ref) == strtolower(page.menu) %}selected="selected"{% endif %}>{{ product.ref }}</option>
                {% endfor %}
            </select>
            <ul>
            {% set index = 0 %}
            {% for product in page.find("/products/_products").header.products %}
                {% if strtolower(product.ref) == strtolower(page.menu) %}
                    {% set index = loop.index-1 %}
                {% endif %}
                <li class="{% if strtolower(product.ref) == strtolower(page.menu) %}active{% endif %}"><a href="{{ page.find(product.url).url }}">{{ product.ref }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>

<section class="block-content">
    <div class="wrapper-content">
        <div class="content">

            {% set product = page.find("/products/_products").header.products[index] %}
            {% set productRef = str_replace(["2","-"], ["",""], product.ref) %}

            <h1 class="title">
                {{ product.title }}
                <span>{{ product.subtitle }}</span>
            </h1>

            {{ product.description|markdown }}

        </div>
        <div class="image">

            <figure>
                <img src="{{ page.find("/products/_products").media[product.image].url }}">
            </figure>

            <div class="modules">
                <h2>Application Provalert</h2>
                <ul>
                {% for feature in page.find("/solutions/_features").header.features %}
                    {% if feature[productRef] %}
                    <li>
                        <img src="{{ page.find("/solutions/_features").media[feature.image].url }}" title="{{ feature.title }}"/>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</section>

    {% include 'modular/calltoaction.html.twig' %}

{% endblock %}
