{% extends 'partials/base.html.twig' %}

{% block bodyClass %}page-interior page-solution{% endblock %}


{% block content %}

    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}


    <section class="products-menu">
        <div class="wrapper-content">
            <select onChange="location.href=this.options[this.selectedIndex].value;">
                {% for solution in page.find("/solutions/_solutions").header.solutions %}
                    <option value="{{ page.find(solution.url).url }}" {% if strtolower(solution.ref) == strtolower(page.menu) %}selected="selected"{% endif %}>{{ solution.title }}</option>
                {% endfor %}
            </select>
            <ul>
            {% set index = 0 %}
            {% for solution in page.find("/solutions/_solutions").header.solutions %}
                {% if strtolower(solution.ref) == strtolower(page.menu) %}
                    {% set index = loop.index-1 %}
                {% endif %}
                <li class="{% if strtolower(solution.ref) == strtolower(page.menu) %}active{% endif %}"><a href="{{ page.find(solution.url).url }}">{{ solution.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>

<section class="block-content">
    <div class="wrapper-content">
        <div class="content">

            {% set solution = page.find("/solutions/_solutions").header.solutions[index] %}
            {% set productRef = str_replace(["2","-"], ["",""], product.ref) %}

            <h1 class="title">
                {{ solution.title }}
                <span>{{ solution.subtitle }}</span>
            </h1>

            {{ solution.description|markdown }}

        </div>
        <div class="image">

            <figure>
                <img src="{{ page.find("/solutions/_solutions").media[solution.image].url }}">
            </figure>


        </div>
    </div>
</section>

{% include 'modular/calltoaction.html.twig' %}

{% endblock %}
