#rgpd-ask-popin{
    position: fixed;
    z-index: 100000;
    display: none;
    font-size: 14px;
    color: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1em;
    max-height: 100vh;
    max-width: 100vw;
}
#rgpd-ask-popin[data-overlay="true"]{
    backdrop-filter: blur(5px);
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    transform: none !important;
}


#rgpd-ask-popin[data-position-horizontal="left"] { left:0; }
#rgpd-ask-popin[data-position-horizontal="right"] { right:0; }
#rgpd-ask-popin[data-position-horizontal="center"] { left:50%;transform:translateX(-50%); }

#rgpd-ask-popin[data-position-vertical="top"] { top:0; }
#rgpd-ask-popin[data-position-vertical="bottom"] { bottom:0; }
#rgpd-ask-popin[data-position-vertical="center"] { top:50%;transform:translateY(-50%); }

#rgpd-ask-popin[data-position-horizontal="center"][data-position-vertical="center"] { transform: translateX(-50%) translateY(-50%); }

#rgpd-ask-popin[data-position-horizontal="left"] .rgpd-ask-popin-body .wrapper{ margin-left: 0; }
#rgpd-ask-popin[data-position-horizontal="right"] .rgpd-ask-popin-body .wrapper{ margin-right: 0; }

#rgpd-ask-popin[data-position-vertical="top"] .rgpd-ask-popin-body .wrapper{ margin-top: 0; }
#rgpd-ask-popin[data-position-vertical="bottom"] .rgpd-ask-popin-body .wrapper{ margin-bottom: 0; }


@media only screen and (hover: none) and (pointer: coarse){

    .rgpd-ask-popin--active{
        overflow: hidden;
        position: fixed;
    }
    #rgpd-ask-popin{
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        transform: none !important;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

}


#rgpd-ask-popin.dark-mode .wrapper{
    background: #000;
    color: #fff;
}
#rgpd-ask-popin.dark-mode button{
    border-color: #fff;
    color: #fff;
}
#rgpd-ask-popin.dark-mode .primary{
    background: #fff;
    color: #000;
}
#rgpd-ask-popin.dark-mode button.primary:hover,
#rgpd-ask-popin.dark-mode button:hover{
    border-color: #fff;
    background: #fff;
    color: #000;
}

#rgpd-ask-popin.dark-mode #rgpd-configuration .slider{
    box-shadow: 0px 0px 5px inset rgba(255,255,255, 0.2);
}
#rgpd-ask-popin.dark-mode #rgpd-configuration input[disabled]:checked + .slider{
    opacity: 0.4 !important;
}
#rgpd-ask-popin.dark-mode #rgpd-configuration input + .slider{
    background: #444;
}
#rgpd-ask-popin #rgpd-configuration input:checked + .slider{
    background: #9ac556;
}
#rgpd-ask-popin.dark-mode #rgpd-configuration input:checked + .slider{
    background: #9ac556;
}


.rgpd-ask-popin--active{

}
.rgpd-ask-popin--overlay{
    overflow-y: hidden;
}
.rgpd-ask-popin--active #rgpd-ask-popin{
    display: block;
}
#rgpd-ask-popin .rgpd-ask-popin-body{
    display: flex;
    min-height: 100%;
    align-items: center;
}
#rgpd-ask-popin .wrapper{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    pointer-events: all !important;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    max-width: 800px;
    background: rgba(255,255,255, 1);
}
#rgpd-ask-popin .rgpd-ask-popin-content{
    margin-bottom: 1em;
    width: 100%;
}
#rgpd-ask-popin .rgpd-ask-popin-manage{
    display: none;
}
#rgpd-ask-popin.manage-cookies .rgpd-ask-popin-manage{
    display: block;
    width: 100%;
}
#rgpd-ask-popin.manage-cookies .rgpd-ask-popin-content{
    display: none;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
#rgpd-ask-popin .rgpd-ask-popin-icon{
    position: absolute;
    right: 0;
    top: -20px;
    width: 80px;
    margin: 0 1em;
    pointer-events: none;
    animation: gelatine 1s infinite;
}
#rgpd-ask-popin h6{
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
#rgpd-ask-popin .rgpd-ask-popin-buttons,
#rgpd-ask-popin .rgpd-ask-popin-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
#rgpd-ask-popin .rgpd-ask-popin-buttons > *{
    margin: 0 0.5em;
    flex: 1;
}
#rgpd-ask-popin .rgpd-ask-popin-links > *{
    margin: 0 0.5em;
}
#rgpd-ask-popin .rgpd-ask-popin-links a{
    opacity: 0.7;
    cursor: pointer;
}
#rgpd-ask-popin .rgpd-ask-popin-links a:hover{
    text-decoration: underline;
}
#rgpd-ask-popin button{
    width: 100%;
    cursor: pointer;
    background: none;
    border: 1px solid #333;
    padding: 0 2em;
    line-height: 3em;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-decoration: none;
    transition: 180ms all ease-in-out;
}
#rgpd-ask-popin button.primary{
    background: #333;
    color: #fff;
    font-weight: var(--fw-bold);
}
#rgpd-ask-popin button:hover,
#rgpd-ask-popin button.primary:hover{
    border-color: #000;
    background: #000;
    color: #fff;
    transform: scale(1.05);
}
#rgpd-ask-popin > .wrapper button:hover{
    background: #fff;
    color: #000;
}

@media only screen and (max-width : 680px) {
    #rgpd-ask-popin > .wrapper{
        flex-direction: column;
    }
    #rgpd-ask-popin > .wrapper *{
        display: block;
        text-align: center;
    }
    #rgpd-ask-popin > .wrapper p{
        padding-right: 0px;
    }
    #rgpd-ask-popin .rgpd-ask-popin-buttons {
        flex-direction: column;
        align-items: inherit;
    }
    #rgpd-ask-popin .rgpd-ask-popin-buttons > * {
        margin: 0.25em;
        flex: 1;
        order: 10;
    }
    #rgpd-ask-popin .rgpd-ask-popin-buttons > *:last-child {
        order: 1;
    }
    #rgpd-ask-popin .rgpd-ask-popin-links {
        flex-direction: column;
        align-items: inherit;
    }
    #rgpd-ask-popin .rgpd-ask-popin-links > * {
        margin: 0.25em;
        flex: 1;
        text-align: center;
    }
    #rgpd-ask-popin button{
        width: 100%;
    }
    #rgpd-ask-popin > .wrapper a {
        margin-left: 0;
    }
    #rgpd-ask-popin > .wrapper .buttons > * {
        width: 100%;
        display: block;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}


#rgpd-configuration .toggle-option{
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 20px;
}
#rgpd-configuration .toggle-option span{
    font-weight: bold;
}
/* The switch - the box around the slider */
#rgpd-configuration .switch {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 48px;
    height: 22px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 5px inset rgb(0, 0, 0, 0.2);
}

/* Hide default HTML checkbox */
#rgpd-configuration .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#rgpd-configuration .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    -webkit-transition: .4s;
    transition: .4s;
//z-index: -1;
    box-shadow: 0px 0px 5px inset rgba(0,0,0, 0.2);
}

#rgpd-configuration .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
    border: 0px !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

#rgpd-configuration input:checked + .slider {
    background-color: #9ac556;
}
#rgpd-configuration input:checked + .slider:before {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#rgpd-configuration input:focus + .slider {
    box-shadow: 0 0 1px #9ac556;
}

#rgpd-configuration input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#rgpd-configuration input[disabled]:checked + .slider {
    background-color: #888888 !important;
}

/* Rounded sliders */
#rgpd-configuration .slider.round {
    border-radius: 34px;
}

#rgpd-configuration .slider.round:before {
    border-radius: 50%;
}

#policy{
    text-align: justify;
}
#policy ~ ul,
#policy ~ p ul{
    list-style: square;
    margin-left: 2em;
    margin-bottom: 1em;
}
#policy ~ p,
#policy ~ * li{
    font-weight: 400;
    margin-bottom: 1em;
    color: inherit;
}
#policy ~ * em{
    font-weight: 600;
    font-style: normal;
}
#policy ~ h2,
#policy ~ h3,
#policy ~ h4{
    margin: 0;
    margin-bottom: 0.75em;
    margin-top: 1em;
    color: inherit;
    font-family: inherit;
    text-transform: initial;
    text-align: left;
}
#policy ~ h2{
    font-size: 1.5em;
    font-weight: 600;
}
#policy ~ h3{
    font-size: 1.3em;
    font-weight: 600;
}
#policy ~ h4{
    font-size: 1.1em;
    font-weight: 600;
}
#policy ~ a,
#policy ~ * a{
    text-decoration: underline;
    font-family: inherit;
}
#policy ~ p,
#policy ~ * li{
    font-family: inherit;
}


.rgpd-form-consent-checkbox{
    position: relative;
    padding: 1em;
    padding-left: calc(60px + 2em);
    background: rgba(144,164,174,0.1);
    border-radius: 6px;
    border: 1px solid rgba(144,164,174,0.3);
    margin-top: 1em;
    margin-bottom: 1em;
}
.rgpd-form-consent-checkbox:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 1em;
    width: 60px;
    height: 60px;
    background: url("../images/rgpd.png") center no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
}
.rgpd-form-consent-checkbox .form-input-wrapper label{
    display: flex;
    background: none;
}
.rgpd-form-consent-checkbox .form-input{
    background: none !important;
}
.rgpd-form-consent-checkbox .form-input-wrapper label span{
    text-align: left;
    max-width: 600px;
    color: #000000;
}
.rgpd-form-consent-checkbox.rgpd-form-consent-checkbox--checked{
    background: rgba(76,175,80,0.1);
    border: 1px solid rgba(76,175,80,0.5);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.3) inset;
}
.rgpd-form-consent-checkbox.rgpd-form-consent-checkbox--checked:before {
    filter: none;
}