
<section class="actions" id="section-actions">
	<div class="wrapper-content">

		<ul>
			{% for page in page.find("/actions").children if page.header.shortcut %}
				<li style="color: {{ page.header.color }}; background-color: {{ page.header.color }};" rel="action:{{ page.header.ref }}" data-link="true">
					{% set title = page.header.displaytitle %}
					<h2 class="title"><a href="{{ page.url }}">
					{% for word in title|split('/') %}
						<span>{{ word }}</span>
					{% endfor %}
					</a></h2>
					<i class="icon {{ page.header.icon }} image"></i>
					<span class="more"><i class="icon icon-more"></i></span>
					<i class="arrow" style="border-bottom-color: {{ page.header.color }};"></i>
				</li>
			{% endfor %}
		</ul>

	</div>
</section>