<h3>Contact</h3>

<div itemscope="" itemtype="http://schema.org/LocalBusiness" class="local-business">
    <strong itemprop="name">{{ site.name }}</strong>
    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
            {#{{ site.address.postal }}<br>#}
            {{ site.address.street }} {{ site.address.street_number }}</span><br>
        <span itemprop="postalCode">{{ site.address.zipcode }}</span>
        <span itemprop="addressLocality">{{ site.address.city }}</span><!--<br>
                        <span itemprop="addressCountry">Suisse</span>-->
    </div>
    <div class="contact">
    <!--
        <p class="phone">Tel. <a href="tel:{{ site.contact.phone.main.link }}" itemprop="telephone">{{ site.contact.phone.main.national }}</a></p>-->
        <!--<p class="fax">Fax <span itemprop="fax">{{ site.contact.fax.main.national }}</span></p>-->
        <!--<p class="email"><a href="mailto:{{ site.contact.email|raw }}" itemprop="email">{{ site.contact.email|raw }}</a></p>-->
    </div>
</div>