{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}" ng-app="web">
<head>

    {% block head %}

    <meta charset="utf-8" />
    <meta name="author" content="Maven Sàrl" />
    <title>{% if header.title %}{{ header.title|striptags }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="api" content="{{ base_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% include 'partials/favicon.html.twig' %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/core.css',100) %}
        {% do assets.addCss('theme://plugins/lightslider/lightslider.min.css') %}
    {% endblock %}
    {{ assets.css()|raw }}

    {% block javascripts %}
        {% do assets.addJs('jquery',101) %}
        {% do assets.addJs('theme://js/TweenMax.min.js') %}
        {% do assets.addJs('theme://js/frontend.js') %}
    {% endblock %}
    {{ assets.js()|raw }}

    {% endblock head%}
</head>
<body id="top" class="{% block bodyClass %}{% endblock %} {{ page.header.body_classes }}">

    <div id="page">
        <div id="skip-link">
            <a href="#main" tabindex="1">accéder direct au contenu</a>
        </div>

        {% include 'partials/navigation.html.twig' %}

        <div id="wrapper">

            {% block body %}

                <header id="header">
                    {% block header %}{% endblock %}
                </header>

                <main id="main">
                    <div class="breadcrumbs">
                        {% if config.plugins.breadcrumbs.enabled %}
                            {% include 'partials/breadcrumbs.html.twig' %}
                        {% endif %}
                    </div>
                    <div class="main-content">
                    {% block content %}{% endblock %}
                    </div>
                </main>

            {% endblock %}

            {% include 'partials/footer.html.twig' %}

        </div>
    </div>


    <link href="https://fonts.googleapis.com/css?family=Dosis|Oxygen" rel="stylesheet">

{{ assets.js('bottom')|raw }}

{% include 'partials/rgpd.html.twig' ignore missing %}

</body>
</html>