{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
    </div>
    <h1>Maven</h1>
{% endblock %}

{% block content %}

    <style>
        .page-data ul { padding-left: 60px; display: block; list-style-type: square; }
        .page-data ul li .row { padding-left: 0px }

        #admin-main .titlebar{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d22e50+0,bb193b+100 */
            background: #d22e50; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #d22e50 0%, #bb193b 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #d22e50 0%,#bb193b 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #d22e50 0%,#bb193b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d22e50', endColorstr='#bb193b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        .notice.alert{
            display: none;
        }
        #admin-main .content-padding{ padding: 0; }
        #admin-main .titlebar .button-bar .button{ background: none; }
        #admin-main .titlebar .button-bar .button:hover{ background: none; }
        #admin-main .admin-block, body{ background: #fff; font-size: 14px; }
        #admin-main .admin-block h1.weebox-title{
            font-weight: 100;
            margin: 0;
            padding:0;
            border: 0;
            color: #000;
            margin-left: 3rem;
        }
        #admin-main .admin-block p.description{
            font-weight: 100;
            margin: 0;
            padding:0;
            border: 0;
            color: #555;
            margin-bottom: 2em;
            margin-top: -5px;
            display: block;
            margin-left: 3rem;
        }
        .default-box-shadow{
           box-shadow: none;
        }
        .status{ font-size: 16px; }
        .status-completed{ color: #9bbe22;font-size: 16px; }
        .status-canceled{ color: #b4205b;font-size: 16px; }
        .weebox-table{
            display: table;
            width: 100%;
        }
        .weebox-table-header{
            display: table-row-group;
        }
        .weebox-table-header .weebox-table-cell{
            font-weight: 400;
            text-transform: uppercase;
            font-size: 10px;
            border-bottom-color: #aaa;
            background: #f7f7f7;
        }
        .weebox-table-body{
            display: table-row-group;
        }
        .weebox-table-body .weebox-table-row:hover{
            background: rgba(0,0,0,0.05);
        }
        .weebox-table-row{
            display: table-row;
        }
        .weebox-table-cell{
            border-bottom: 1px solid #eee;
            padding: 10px 10px;
            display: table-cell;
        }
        .weebox-table-row .weebox-table-cell:first-child{
            padding-left: 3rem;
        }
        .weebox-table-row .weebox-table-cell:last-child{
            padding-right: 3rem;
        }
        .weebox-table-cell.image{
            width: 1px;
            padding: 4px 4px;
        }
        .weebox-table-cell.image i{
            font-size: 16px;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 50%;
            border: #eee 1px solid;
            color: #333;
            background: #f7f7f7;
        }
        .weebox-table-cell.center{
            text-align: center;
        }
        .weebox-table-cell.right{
            text-align: right;
        }
        .weebox-table-cell strong{
            font-weight: 400;
            color: #000;
            display: block;
            font-size: 1.2em;
            line-height: 1em;
        }
    </style>

    <div class="page-data">

        <h1 class="weebox-title">
            Contact ({{ grav.twig.items|count }})
        </h1>
        <p class="description">Liste des demandes de contact</p>


        <div class="weebox-table">
            <div class="weebox-table-header">
                <div class="weebox-table-row">
                    <div class="weebox-table-cell image"></div>
                    <div class="weebox-table-cell">
                        Personne
                    </div>
                    <div class="weebox-table-cell">
                        Date de création
                    </div>
                    <div class="weebox-table-cell center">
                        Email
                    </div>
                    <div class="weebox-table-cell center">
                        Téléphone
                    </div>
                    <div class="weebox-table-cell center">
                        Address
                    </div>
                </div>
            </div>
            <div class="weebox-table-body">
                {% for item in grav.twig.items %}
                    <div class="weebox-table-row">
                        <div class="weebox-table-cell image">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="weebox-table-cell">
                            <strong>{{ item.first_name }} {{ item.last_name }}</strong>
                            <span>{{ item.comment }}</span>
                        </div>
                        <div class="weebox-table-cell">
                            {{ item.created_at }}
                        </div>
                        <div class="weebox-table-cell center">
                            {% if item.email != '' %}
                                {{ item.email }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="weebox-table-cell center">
                            {% if item.phone != '' %}
                                {{ item.phone }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="weebox-table-cell center">
                            {{ item.street }}<br>
                            {{ item.zipcode }} {{ item.city }}<br>
                            {{ item.country }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}