<section class="ask-for-demo">
    <div class="wrapper-content">

        <p>Des questions ? Interessé par une démo ?</p>

        <a href="tel:0041216940080" class="call-phone"><span><i class="icon icon-phone"></i> 021 694 00 80</span></a>
        <a href="{{ page.find("/contact").url }}" class="call-mail"><span><i class="icon icon-mail"></i> contactez-nous</span></a>

    </div>
</section>