<section class="modules">
    <header>
        <h2 class="title">{{ page.header.title }}</h2>
    </header>
    <div class="wrapper-content">
        <ul>
            {% for feature in page.header.features %}
                <li>
                    <span class="badge">*</span>
                    <span class="provatis-icon"><img src="{{ page.media[feature.image].url }}"/></span>
                    <h3 class="title">{{ feature.title }}</h3>
                    <p>{{ feature.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>