<{{ page.header.tag }} class="block {{ page.header.class }} {% if page.header.stretch %}stretch{% endif %}">
    <div class="wrapper-content">
        {% for content in page.header.columns %}
            <div class="{{ content.class }} {{ content.width }}" style="{% if page.header.stretch %}width:{{ (100/page.header.columns|length)|number_format(2, '.') }}%;{% endif %}">
                {% if content.usecontent %}
                    {{ content.content | markdown }}
                {% else %}
                    <img src="{{ page.media[content.image].url }}"/>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</{{ page.header.tag }}>