<header id="header">

    <div class="header-title">
        <h1 class="title">{{ page.header.title }} <span>{{ page.header.subtitle }}</span></h1>
    </div>

    <div class="texture"></div>
    <div class="background" style="background-image:url('{{ page.media[page.header.image].url }}');"></div>

</header>