<section class="header-introduction">
    <div class="wrapper-content">

        {% if page.header.image %}
        <figure><img src="{{ page.media[page.header.image].url }}"></figure>
        {% endif %}

        {{ content|markdown }}

        <p class="links">
            {% for feature in page.header.features %}
                <a href="#" class="button">{{ feature.title }}</a>
            {% endfor %}
        </p>

    </div>
</section>
