<section class="products-compare">
    <div class="wrapper-content">

        <header>
            <h2 class="title">{{ page.header.title }}</h2>
        </header>

        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>ProvaBox</td>
                <td>ProvaBox Light</td>
                <td>ProvaBox OBD2</td>
                <td>ProvaBox PRO</td>
                <td>ProvaTrack</td>
                <td>ProvaBike</td>
            </tr>
            </thead>
            <tbody>

            {% for feature in page.find("/solutions/_features").header.features %}
                <tr>
                    <td><span class="provatis-icon"><img src="{{ page.find("/solutions/_features").media[feature.image].url }}"/></span></td>
                    <td><strong>{{ feature.title }}</strong> <p>{{ feature.description }}</p></td>
                    <td>{% if feature.provabox %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                    <td>{% if feature.provaboxlight %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                    <td>{% if feature.provaboxobd %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                    <td>{% if feature.provaboxpro %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                    <td>{% if feature.provatrack %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                    <td>{% if feature.provabike %}<i class="icon icon-field-check"></i>{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</section>