<section class="solutions">
    <header>
        <h2 class="title">{{ page.header.title }}</h2>
    </header>
    <div class="wrapper-content">
        <ul>
            {% for solution in page.header.solutions %}
                <li class="solution-provalerte">
                    <article data-link="true">
                        <img src="{{ page.media[solution.image].url }}">
                        <div class="content" data-url="">
                            <h2 class="title"><a href="{{ page.find(solution.url).url }}">{{ solution.title }} <span>{{ solution.subtitle }}</span></a></h2>
                            <p>{{ solution.headline }}</p>
                            <span class="link-more">
                                <i class="icon icon-arrow-right"></i> En savoir plus
                            </span>
                        </div>
                    </article>
                </li>
            {% endfor %}

        </ul>
    </div>
</section>