{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url %}

{% set taxlist = taxonomylist.get() %}
{% if taxlist %}
<aside class="common-blog-aside-categories">
    <h4 class="title">Categories</h4>
    <ul>
        <li>
            <a href="{{ page.find("/blog").url }}">{{ "BLOG.VIEW_ALL"|t() }}</a>
        </li>
        {% set category = grav.uri.params("category", true) %}
        {% for tax,value in taxlist['category'] %}
        {% set current_page = (tax == category) ? 'active' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ page.find("/blog").url|rtrim('/') }}/category{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax|capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>
{% endif %}


{% if config.plugins.taxonomylist.enabled %}
    <aside class="common-blog-aside-tags">
        <h4 class="title">Tags</h4>
        {% include 'partials/taxonomylist.html.twig' with {'base_url':page.find("/blog").url, 'taxonomy':'tag'} %}
    </aside>
{% endif %}


{% if config.plugins.simplesearch.enabled %}
<section class="sidebar-content">
    <h4 class="title">SimpleSearch</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</section>
{% endif %}


{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4 class="title">Related Posts</h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}




{% if config.plugins.archives.enabled %}
<section class="sidebar-content">
    <h4 class="title">Archives</h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</section>
{% endif %}


{% if config.plugins.feed.enabled %}
<section class="sidebar-content syndicate">
    <h4 class="title">Syndicate</h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</section>
{% endif %}