

    {% set header_image = page.header.image|defined(false) %}
    {% set header_image_media = null %}

    {% if page.header.headline is not empty %}
        {% set description = page.header.headline %}
    {% else %}
        {% set description = page.content|safe_truncate(250) %}
    {% endif %}


    {% if resume != true %}
        <a href="{{ page.parent.url }}" class="back">
            <i class="icon icon-arrow-left"></i>
            <span>{{ "BLOG.VIEW_ALL"|t() }}</span>
        </a>
    {% endif %}

    <header>

        {% if header_image %}
            <figure>
            {% if header_image %}
                {% set header_image_media = page.media.images[header_image] %}
            {% endif %}

            {% if page.header.highlight or resume != true %}
                {% if page.header.imageAsBanner is empty or page.header.imageAsBanner == 1 %}
                <img itemprop="image" src="{{ header_image_media.cropZoom(600,300).url }}"/>
                {% endif %}
            {% else %}
                <img itemprop="image" src="{{ header_image_media.cropZoom(200,200).url }}"/>
            {% endif %}

            </figure>
        {% else %}
            <figure>
                {% if resume %}
                <img itemprop="image" src="{{ url("theme://images/placeholder.png") }}"/>
                {% endif %}
            </figure>
        {% endif %}


        <meta itemprop="datePublished" content="{{ page.date|date("Y-m-d H:i:s") }}"/>
        <meta itemprop="dateCreated" content="{{ page.date|date("Y-m-d H:i:s") }}"/>
        <meta itemprop="dateModified" content="{{ page.date|date("Y-m-d H:i:s") }}"/>

        <div class="date">
            <i class="icon icon-calendar"></i>
            <time datetime="{{ page.date|date("Y-m-d H:i:s") }}">{{ page.date|date("d.m.Y H:i:s") }}</time>
            <span class="author">
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{ "BLOG.POSTED_BY"|t() }}
                    {% for author in page.taxonomy.author %}
                    <a href="#" >
                        <span itemprop="name">{{ author }}</span>
                    </a>
                    {% endfor %}
                </span>
            </span>
        </div>


        {% if page.header.link %}
            <h2 class="title" itemprop="headline">
                {% if page.header.continue_link is not sameas(false) %}
                    <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" itemprop="url">{{ page.title }}</a>
            </h2>
        {% else %}
            <h2 class="title" itemprop="headline"><a href="{{ page.url }}" itemprop="url">{{ page.title }}</a></h2>
        {% endif %}

    </header>

    {% if resume == true %}
    <div class="common-blog-resume">

        {% if page.header.headline is not empty %}
            <p itemprop="description">{{ description|striptags }}</p>
        {% else %}
            <p itemprop="description">{{ description|striptags|markdown }}</p>
        {% endif %}

        <div class="common-blog-more">
            <a href="{{ page.url }}">
                <i class="icon icon-more"></i>
                <span>{{ "BLOG.ACTION.MORE"|t() }}</span>
            </a>
        </div>
    </div>
    {%  else %}
    <div class="common-blog-content" itemprop="articleBody">

        {% if page.header.continue_link is sameas(false) %}
            {% if not truncate %}
            {% set show_prev_next = true %}
            {% endif %}
        {% else %}
            {% set show_prev_next = true %}
        {% endif %}


        {{ page.content|markdown }}

    </div>
    {% endif %}

    {% if resume != true %}
    <div class="common-blog-galleries">

        {% if (page.media.images|count > 1 and header_image) or (page.media.images|count > 0 and not header_image) %}
        <div id="gallery" class="gallery-image">
            <ul>
                {% for media in page.media.images if media.filename != header_image_media.filename %}
                    <li>
                        <a href="{{ media.fit(800).url|raw }}" class="thumb">
                            {{ media.cropZoom(200,200).html|raw }}
                            <span>{{ media.filename }}</span>
                        </a>
                    </li>
                {% endfor %}
                {% if page.media.videos|count > 0 %}
                    {% for media in page.media.videos %}
                        <!-- data-src should not be provided when you use html5 videos -->
                            <li   >
                                <div style="display:none;" id="video-{{ loop.index }}">

                                    <video class="lg-video-object lg-html5"  preload="none">
                                        <source src="{{ media.url }}#t=1" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>

                                </div>
                                <a  class="thumb"   data-html="#video-{{ loop.index }}">
                                    <video src="{{ media.fit(800).url|raw }}#t=1"></video>
                                </a>

                            </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

            <style>
                img{
                    pointer-events: none !important;
                }
            </style>
            <script>
            $('document').ready(function () {
                lightGallery(document.getElementById('gallery'), {
                    selector: 'a',
                    videojs: true,
                    thumbnail: true,
                    download: false,
                    videojsOptions: {
                        autoplay: true,
                        controls: false,
                    }
                });
            })

        </script>
        {% endif %}

{#        {% if page.media.videos|count > 0 %}#}
{#        <div class="gallery-video">#}
{#            <ul>#}
{#                {% for media in page.media.videos %}#}
{#                    <li><a href="#"><span>{{ media.html }}</span></a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#        {% endif %}#}

        {% if page.media.audios|count > 0 %}
        <div class="gallery-audio">
            <ul>
                {% for media in page.media.audios %}
                    <li><a href="#"><span>{{ media.html }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% endif %}


    {% if page.taxonomy.category %}
        <div class="categories">
            <h3 class="title">Catégories</h3>
            <ul>
                <li>
                    {% for tag in page.taxonomy.category %}
                        <a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ tag }}" itemprop="articleSection">{{ tag }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    {% endif %}

    {% if page.taxonomy.tag and resume != true %}
        <div class="tags">
            <h3 class="title">Tags</h3>
            <ul class="tags">
                <li>
                    {% for tag in page.taxonomy.tag %}
                        <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" itemprop="articleSection">{{ tag }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    {% endif %}



    {% if show_prev_next %}
    <div class="pagination-navigation">
        {% if not page.isFirst %}
            <a class="btn-next" href="{{ page.nextSibling.url }}" title="{{ "BLOG.ACTION.NEXT"|t() }}">
                <i class="icon icon-arrow-right"></i>
                <span>{{ "BLOG.ACTION.NEXT"|t() }}</span>
            </a>
        {% else %}
            <span class="btn-next">
                <i class="icon icon-arrow-right"></i>
                <span>{{ "BLOG.ACTION.NEXT"|t() }}</span>
            </span>
        {% endif %}

        {% if not page.isLast %}
            <a class="btn-previous" href="{{ page.prevSibling.url }}" title="{{ "BLOG.ACTION.PREVIOUS"|t() }}">
                <i class="icon icon-arrow-left"></i>
                <span>{{ "BLOG.ACTION.PREVIOUS"|t() }}</span>
            </a>
        {% else %}
            <span class="btn-previous">
                <i class="icon icon-arrow-left"></i>
                <span>{{ "BLOG.ACTION.PREVIOUS"|t() }}</span>
            </span>
        {% endif %}
    </div>
    {% endif %}


    {% if resume != true %}
    <div class="info share">

        <div class="social-sharing is-clean" data-permalink="{{ page.url(true) }}">

            <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
{#            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ page.url(true) }}" class="share-facebook">#}
{#                <span class="icon icon-facebook" aria-hidden="true"></span>#}
{#                <span class="share-title">Facebook</span>#}
{#                <span class="share-count is-loaded">0</span>#}
{#            </a>#}

            <!-- https://dev.twitter.com/docs/intents -->
            <a target="_blank" href="http://twitter.com/share?url={{ page.url(true) }}&amp;text=&amp;" class="share-twitter">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="share-title">Twitter</span>
                <span class="share-count">0</span>
            </a>

            <!-- https://developers.google.com/+/web/share/
            <a target="_blank" href="http://plus.google.com/share?url=http://local.dev/provatis.com/public" class="share-google">
                <span class="icon icon-google" aria-hidden="true"></span>
                <span class="share-count is-loaded">+1</span>
            </a>
             -->

            <!-- https://developer.linkedin.com/plugins/share -->
            <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url(true) }}&amp;title=" class="share-linkedin">
                <span class="icon icon-linkedin" aria-hidden="true"></span>
                <span class="share-title">LinkedIn</span>
                <span class="share-count is-loaded">0</span>
            </a>

        </div>
    </div>
    {% endif %}

