<div class="wrapper-content">

    {% if page.header.displaytitle  %}
        {% set title = page.header.displaytitle  %}
    {% else %}
        {% set title = page.header.title  %}
    {% endif %}

    {% if forceTitle  %}
        {% set title = forceTitle  %}
    {% endif %}


    <h1 class="title">
    {% for word in title|split('/') %}
        <span><span>{{ word }}</span></span>
    {% endfor %}

        {% if page.header.icon  %}
            <i class="icon {{ page.header.icon }}"></i>
        {% endif %}

    </h1>

</div>



{% if page.find("/home").active  %}
<div class="slider-header">
    <ul>
        <li style="background-image:url('{{ page.media[page.header.image].url }}');">
            <strong class="title">{{ page.header.pagetitle }}</strong>
        </li>
        {% for action in page.find('/actions').header.actions %}
            <li id="action_{{ action.ref }}" style="background-image: url('/test.jpg'); background-color: {{ action.color }};">
                <strong class="title">
                    <span><span>{{ action.title }}</span></span>
                </strong>
            </li>
        {% endfor %}
    </ul>
</div>
    {% else %}
        <div class="background" style="background-image:url('{{ page.media[page.header.image].url }}');"></div>
{% endif %}