{% set unique_id = 'ls-' ~ random_string(10) %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#{{ unique_id }}").lightSlider({
            item:1,
            loop:true
        });
    });
</script>


<div class="slider-homepage">
    <h2>{{ page.find('/event').header.title }}</h2>
    <a href="#" class="view-all"><i class="icon icon-more"></i> tout voir</a>
    <div id="{{ unique_id }}-wrapper">
        <ul id="{{ unique_id }}">
            {% for post in page.find('/event').children.order('date', 'desc').slice(0, 5) %}
                <li class="recent-posts">
                    <article data-link="true">
                        {% set header_image = post.header.header_image|defined(true) %}
                        {% set header_image_width  = post.header.header_image_width|defined(500) %}
                        {% set header_image_height = post.header.header_image_height|defined(300) %}
                        {% set header_image_file = post.header.header_image_file %}
                        {% if header_image %}
                            <figure>
                                {% if header_image_file %}
                                    {% set header_image_media = post.media.images[header_image_file] %}
                                {% endif %}
                                {{ header_image_media.cropZoom(header_image_width, header_image_height).html|raw }}
                            </figure>
                        {% endif %}
                        <header>
                            <time>{{ post.date|date("d.m.Y H:i:s") }}</time>
                            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            <p>{{ post.header.headline }}</p>
                        </header>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
