{% set header_image = page.header.image|defined(false) %}
{% set header_image_media = null %}
{% if header_image %}
    {% set header_image_media = page.media.images[header_image] %}
{% endif %}


{% if page.header.headline is not empty %}
    {%  set description = page.header.headline %}
{% else %}
    {%  set description = page.header.meta.description %}
{% endif %}

<meta name="description" content="{{ description }}">

<!-- Facebook -->
<meta property="og:title" content="{{ page.header.title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:image" content="{{ header_image_media.cropZoom(300,300).url(true) }}">

<!-- Twitter -->
<meta name="twitter:title" content="{{ page.header.title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ page.url(true) }}">
<meta name="twitter:site" content="@centrical">
<meta name="twitter:image" content="{{ header_image_media.cropZoom(300,300).url(true) }}">
