<nav id="navigation">
<!--
    <div id="alert-covid-19" style="background:#d7165a;color:#fff;text-align:center;padding:10px;font-size: 13px;padding:8px;">
        <strong>COVID-19 :</strong> SHVaud fermé jusqu'au 29 mai 2020. Nous vous remercions de votre patience et compréhension.
        <style>#navigation .mobile-navigation{top:80px;}</style>
    </div>
    <div id="alert-covid-19" style="background:#d7165a;color:#fff;text-align:center;padding:10px;font-size: 18px;padding:20px;">
        <p style="margin:0;"><strong>AVIS IMPORTANT:</strong><br><br> Lors de notre dernière demande de dons, notre CCP était erroné, le no de compte correct est le <strong>15-441905-2</strong>. <br>Avec nos excuses.</p>
    </div>
    -->
    <div class="wrapper-content" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">

        <div class="logo">
            <a href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ url("theme://images/logo-secours-hiver-vaud.svg") }}" alt="{{ site.title }}"/>
                <strong>{{ site.title }}</strong>
            </a>
        </div>

        <div class="navigation-container">


            <div class="topbar">
                <div class="wrapper-content">
                    <!--
                    <ul class="languages">
                    {% for lang in grav.language.getLanguages %}
                        {% set current_lang = (lang == grav.language.getActive ) ? 'active' : '' %}
                            <li class="{{ current_lang }}">
                                <a href="{{ base_url }}/../{{ lang }}">
                                    {{ lang }}
                                </a>
                            </li>
                    {% endfor %}
                    </ul>
                    -->

                    <ul>
                        {% for menu in page.find('/config').header.navigation_top %}
                            {% set pageCurrent = (menu.internal_url) ? page.find(menu.internal_url) : page %}
                            {% set active = (pageCurrent.active and menu.internal_url) ? 'active' : '' %}
                            {% set link = (menu.internal_url) ? page.find(menu.internal_url).url :  menu.external_url %}
                            <li class="{{ active }} {{ menu.class }}">
                                <a href="{{ link }}">
                                    <i class="icon {{ menu.icon }}"></i>
                                    <span>{{ menu.name }}</span>
                                </a>
                            </li>
                        {% endfor %}

                        <!--
                        {% for page in pages.children.visible %}
                            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                            {% if page.header.topbar_visible %}
                                <li class="{{ current_page }}">
                                    <a href="{{ page.url }}">
                                        {{ page.menu }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        <li>
                            <a href="https://app.provatis.com" class="app">
                                <span><i class="icon icon-facebook"></i></span>
                            </a>
                        </li>
                         -->
                    </ul>

                </div>
            </div>

            <div class="navigation">
                <div class="wrapper-content">
                    <ul>
                        {% for menu in page.find('/config').header.navigation_main %}
                            {% set pageCurrent = (menu.internal_url) ? page.find(menu.internal_url) : page %}
                            {% set active = (pageCurrent.active and menu.internal_url) ? 'active' : '' %}
                            {% set link = (menu.internal_url) ? page.find(menu.internal_url).url :  menu.external_url %}
                            <li class="{{ active }} {{ menu.class }}">
                                <a href="{{ link }}">
                                    <i class="icon {{ menu.icon }}"></i>
                                    <span>{{ menu.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>


        <div class="mobile-navigation" rel="mobile">
            <span class="icon icon-menu"></span>
            <span class="icon icon-close"></span>
        </div>

        {% set target_date = "2025-01-05 23:59:59"|date("Y-m-d H:i:s") %}
        {% if now|date("Y-m-d H:i:s") < target_date %}
        <style>
            #top-notice{
                width: 100%;
                background:#fc5454;
                color:#fff;
                text-align:center;
                font-size: 13px;
                padding:8px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        </style>
        <div id="top-notice">
            Le bureau est fermé du vendredi 20 décembre 2024 au dimanche 5 janvier 2025 - Toute l'équipe vous souhaite de joyeuses fêtes 🎄<a href="/contact-reservation" style="color:#fff;font-weight:bold;text-decoration:underline;"></a>
        </div>
        {% endif %}
    </div>
</nav>
