
<ul class="slides">
    {% for feature in page.header.features %}
    <li class="slide">
        <div class="container">
            <a target="_blank" href="" class="slide-link"></a>

            <div class="content">
                <strong class="title">xxxx</strong>
                <p>xx</p>
                <a class="btn btn-red" target="_blank" href="">
                    <span>Plus d'information</span>
                </a>
            </div>

            <img src="{{ page.media[banner.image].url }}"/>
        </div>
    </li>
    {% endfor %}
</ul>

<script>

    window.onload = initSlideshow;
    function initSlideshow() {
        jQuery('.slides').lightSlider({
            pause: 3000,
            //mode: 'fade',
            auto: true,
            pauseOnHover: true,
            //adaptiveHeight:true,
            item: 1,
            slideMargin: 0,
            loop: true
        });
    };
</script>



