{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-blog{% endblock %}

{% set collection = page.collection() %}

{% if collection.params.taxonomies %}
	{% if collection.params.taxonomies.category[0] %}
		{% set title = page.header.title~"/"~collection.params.taxonomies.category[0] %}
	{% else %}
		{% set title = page.header.title~"/#"~collection.params.taxonomies.tag[0] %}
	{% endif %}
{% endif %}


{% block header %}
	{% include 'partials/header.html.twig' with {'page':page, 'forceTitle': title} %}
{% endblock %}


{% block content %}


	<section class="block common-blog" itemscope itemtype="http://schema.org/Blog" xng-controller="blogController">
		<div class="wrapper-content">

			<div class="content">

				{% if collection.params.taxonomies %}
				<a href="{{ page.find("/blog").url }}" class="back">
					<i class="icon icon-arrow-left"></i>
					<span>{{ "BLOG.VIEW_ALL"|t() }}</span>
				</a>
				{% endif %}

				<ul class="common-blog-listing">
					{% for child in collection.published %}
						<li class="common-blog-post {% if child.header.highlight %}highlight{% endif %}">
							<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" xdata-link="true">
								{% include 'partials/blog.item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'resume':true} %}
							</article>
						</li>
					{% endfor %}
				</ul>

				<div class="common-blog-pagination">
					{% if config.plugins.pagination.enabled and collection.params.pagination %}
						{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
					{% endif %}
				</div>

			</div>

			<div class="common-blog-aside">

				{% include 'partials/blog.categories.html.twig' with {'blog':page} %}

			</div>
		</div>
	</section>


{% endblock %}