{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-contact{% endblock %}

{% block header %}
    {% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

    <aside>

        <section>

            {% include "partials/contact.html.twig" %}

        </section>

        <section>

            <h3>Compléments d'information</h3>

            <nav class="subnavigation">
                <ul>
                    {% for p in page.find("/faire-un-don").children if p.routable %}
                        <li><a href="{{ p.url }}">{{ p.header.title }} <i class="icon icon-arrow-right"></i></a></li>
                    {% endfor %}
                </ul>
            </nav>
        </section>

    </aside>

    <section class="content">

        {{ content|markdown }}

        {% include "forms/contact.html.twig" %}

    </section>


    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}

{% endblock %}
