{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior page-aide{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}


	<aside>

		{% for formular in page.find("/aide").header.formular %}
			<section>
				<h3>{{ formular.title }}</h3>
				{{ formular.description|markdown }}
				<nav class="subnavigation">
					<ul>
						{% for file in formular.files %}
							<li>
								<a href="{{ page.media[file.file].url }}" target="_blank">
									{{ file.title }}
									<i class="icon icon-download"></i>
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>

			</section>
		{% endfor %}

	</aside>

	<section class="content">

		{{ content|markdown }}

	</section>



{% endblock %}