{% extends 'layouts/master.html.twig' %}

{% block bodyClass %}page-interior{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' with {'page':page} %}
{% endblock %}

{% block content %}

	<style>
		.content p{
			max-width: 100%;
		}
	</style>

	<div class="wrapper">


		<section class="content">

			{{ content|markdown }}

		</section>

	</div>



{% endblock %}