<div class="contact-form" ng-controller="contactController">

    <div class="msg success" ng-if="sended">
        <a href="?reload" class="close"><i class="icon icon-close"></i></a>
        <strong>{{ "CONTACT.MESSAGE_SENT.TITLE"|t() }}</strong>
        <p>{{ "CONTACT.MESSAGE_SENT.DESCRIPTION"|t() }}</p>
    </div>

    <div class="msg error" id="msg-error" ng-if="error">
        <span class="close" onClick="$('#msg-error').slideUp();"><i class="icon icon-close"></i></span>
        <strong>{{ "CONTACT.MESSAGE_ERROR.TITLE"|t() }}</strong>
        <p>{{ "CONTACT.MESSAGE_ERROR.DESCRIPTION"|t() }}</p>
    </div>

    <div class="contact-form-online active" ng-show="!sended">
        <form id="contact-online" class="form" action="{{ api_url }}contact/create" method="post">

            <h2>Formulaire de contact</h2>
<!--
            <div class="field select" rel="subject">
                <label>Sujet *:</label>
                <div class="input">
                    <select ng-model="contact.subject">
                        <option value="contact" selected="selected">Contact</option>
                    </select>
                </div>
            </div>
            -->
            <div class="field" rel="first_name">
                <label>Prénom : *</label>
                <div class="input">
                    <input type="text" name="first_name" ng-model="contact.first_name" value="{{ contact_form.first_name }}"/>
                </div>
            </div>
            <div class="field" rel="last_name">
                <label>Nom : *</label>
                <div class="input">
                    <input type="text" name="last_name" ng-model="contact.last_name" value="{{ contact_form.last_name }}"/>
                </div>
            </div>
            <div class="field" rel="email">
                <label>Email: *</label>
                <div class="input">
                    <input type="text" name="email" ng-model="contact.email" value="{{ contact_form.email }}"/>
                </div>
            </div>
            <div class="field" rel="phone">
                <label>Téléphone:</label>
                <div class="input">
                    <input type="text" name="address1" ng-model="contact.phone" value="{{ contact_form.phone }}"/>
                </div>
            </div>
            <div class="field textarea" rel="comment">
                <label>Commentaire : *</label>
                <div class="input">
                    <textarea ng-model="contact.comment">
                        {{ contact_form.comment }}
                    </textarea>
                </div>
            </div>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{ config.plugins.maven.recaptcha.site_key }}"></div>

            <footer>
                <button class="btn btn-submit" type="button" ng-click="submit()">
                    <span>Envoyer</span>
                </button>
            </footer>
        </form>
    </div>


</div>