<div class="donation-form" ng-controller="donationController">

    {% if donate_cancel %}
        <div class="msg error" id="msg-error">
            <span class="close" onClick="$('#msg-error').slideUp();"><i class="icon icon-close"></i></span>
            <strong>Votre donation a été annulée</strong>
            <p>Remplissez à nouveau le formulaire ci-dessous pour réessayer.</p>
        </div>
    {% endif %}

    {% if donate_success %}
        <div class="msg success">
            <a href="?reload" class="close"><i class="icon icon-close"></i></a>
            <strong>Merci pour votre don {{ donate_form.first_name }} !</strong>
        </div>
    {% endif %}

    <div class="msg error" ng-if="error">
        <strong>Champs incorrects</strong>
        <p>Remplissez correctement le formulaire ci-dessous pour réessayer.</p>
    </div>

    {% if donate_success == false %}
        <div class="donation-form-online active">
            <!--
            <span class="rdo"></span>
            <span class="icon icon-arrow-right"></span>
            -->
            <!--<a class="area" href="#<$ FORM_ONLINE $>" onclick="return false" ng-click="toggleForm(FORM_ONLINE)" name="<$ FORM_ONLINE $>"></a>-->

            <form id="donate-online" class="form" method="post" action="https://www.paypal.com/cgi-bin/webscr">

                <$ apiUrl = "{{ api_url }}donate/create"; "" $>
                <$ returnUrl = "{{ api_url }}donate/success/"; "" $>
                <$ returnCancelUrl = "{{ api_url }}donate/cancel/"; "" $>

                <input type="hidden" name="rm" value="2"/>
                <input type="hidden" name="return">
                <input type="hidden" name="cancel_return">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="{{ config.plugins.maven.donation.merchant_id }}">
                <input type="hidden" name="tax" value="0">
                <input type="hidden" name="item_name" value="Donation au secours d'hiver Vaud">
                <input type="hidden" name="lc" value="fr_CH">
                <input type="hidden" name="currency_code" value="CHF">
                <input type="hidden" name="cpp_cart_border_color" value="#ffffff"/>
                <input type="hidden" name="cpp_payflow_color" value="#ffffff"/>
                <input type="hidden" name="cpp_headerback_color" value="#ffffff"/>
                <input type="hidden" name="cpp_headerborder_color" value="#ffffff"/>
                <input type="hidden" name="image_url" value="{{ theme_url }}images/paypal/logo.png"/>

                <strong>Informations personnelles</strong><br><br>

                <div class="field" rel="firstname">
                    <label>Prénom *</label>
                    <div class="input">
                        <input type="text" name="first_name" ng-model="donation.first_name" value="{{ donate_form.first_name }}"/>
                    </div>
                </div>
                <div class="field" rel="lastname">
                    <label>Nom *</label>
                    <div class="input">
                        <input type="text" name="last_name" ng-model="donation.last_name" value="{{ donate_form.last_name }}"/>
                    </div>
                </div>
                <div class="field" rel="email">
                    <label>Email *</label>
                    <div class="input">
                        <input type="text" name="email" ng-model="donation.email" value="{{ donate_form.email }}"/>
                    </div>
                </div>
                <div class="field" rel="street">
                    <label>Rue et n°</label>
                    <div class="input">
                        <input type="text" name="address1" ng-model="donation.address1" value="{{ donate_form.address1 }}"/>
                    </div>
                </div>
                <div class="field" rel="zipcode">
                    <label>NPA</label>
                    <div class="input">
                        <input type="text" name="zip" ng-model="donation.zip" value="{{ donate_form.zip }}"/>
                    </div>
                </div>
                <div class="field" rel="city">
                    <label>Ville</label>
                    <div class="input">
                        <input type="text" name="city" ng-model="donation.city" value="{{ donate_form.city }}"/>
                    </div>
                </div>

                <div class="field radio" rel="amount">
                    <label><strong>Montant de la donation *</strong></label>
                    <div class="input">
                        <label>
                            <input type="radio" name="amount" ng-value="10" ng-model="donation.amountRadio"/>
                            <span>CHF <i>10.00</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="20" ng-model="donation.amountRadio"/>
                            <span>CHF <i>20.00</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="50" ng-model="donation.amountRadio"/>
                            <span>CHF <i>50.00</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="100" ng-model="donation.amountRadio"/>
                            <span>CHF <i>100.00</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="200" ng-model="donation.amountRadio"/>
                            <span>CHF <i>200.00</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="500" ng-model="donation.amountRadio"/>
                            <span>CHF <i>500.00</i></span>
                        </label>
                        <!--
                        <label>
                            <input type="radio" name="amount" ng-value="0.10" ng-model="donation.amountRadio"/>
                            <span>Test <i>0.10</i></span>
                        </label>
                        <label>
                            <input type="radio" name="amount" ng-value="" ng-model="donation.amountRadio"/>
                            <span><i>Libre</i></span>
                        </label>
                        -->
                    </div>
                </div>

                <footer>
                    <span class="paypal"><img src="{{ url("theme://images/paypal-logo.png") }}"/></span>
                    <button class="btn" type="button" ng-click="submit()">Etape suivante ></button>
                </footer>
            </form>
        </div>

        <!--

					<div class="donation-form-virement">
						<span class="rdo"></span>
						<span class="icon icon-arrow-right"></span>
						<h2>Dons par bulletin de versement</h2>
						<a class="area" href="#<$ FORM_VIREMENT $>" onClick="return false" ng-click="toggleForm(FORM_VIREMENT)" name="<$ FORM_VIREMENT $>"></a>
						<form id="donate-virement" class="form" ng-controller="donationBulletinController">

							<$ apiUrl = "{{ api_url }}donate/send"; "" $>

							<p>Saisissez les quelques informations suivantes, afin que nous puissions vous envoyer quelques bulletins par courrier.</p>
							<div class="field" rel="firstname">
								<label>Prénom:</label>
								<div class="input">
									<input type="text" name="first_name" ng-model="donation.first_name" value="{{ donate_form.first_name }}"/>
								</div>
							</div>
							<div class="field" rel="lastname">
								<label>Nom:</label>
								<div class="input">
									<input type="text" name="last_name" ng-model="donation.last_name" value="{{ donate_form.last_name }}"/>
								</div>
							</div>
							<div class="field" rel="email">
								<label>Email:</label>
								<div class="input">
									<input type="text" name="email" ng-model="donation.email" value="{{ donate_form.email }}"/>
								</div>
							</div>
							<div class="field" rel="street">
								<label>Rue et n°:</label>
								<div class="input">
									<input type="text" name="address1" ng-model="donation.address1" value="{{ donate_form.address1 }}"/>
								</div>
							</div>
							<div class="field" rel="zipcode">
								<label>NPA:</label>
								<div class="input">
									<input type="text" name="zip" ng-model="donation.zip" value="{{ donate_form.zip }}"/>
								</div>
							</div>
							<div class="field" rel="city">
								<label>Ville:</label>
								<div class="input">
									<input type="text" name="city" ng-model="donation.city" value="{{ donate_form.city }}"/>
								</div>
							</div>

							<footer>
								<button class="btn" ng-click="submit()">Envoyer</button>
							</footer>
						</form>

					</div>
					-->
    {% endif %}

</div>