<div class="order-form" ng-controller="orderController">

    {% for product in products %}
        <span ng-init='order.articles.push({qty: 0, name: "{{ product.title }}", price: {{ product.price }}, image: "{{ page.media[product.image].url }}"})'></span>
    {% endfor %}

    <div class="msg success" ng-if="sended">
        <a href="?reload" class="close"><i class="icon icon-close"></i></a>
        <strong>{{ "CONTACT.MESSAGE_SENT.TITLE"|t() }}</strong>
        <p>{{ "CONTACT.MESSAGE_SENT.DESCRIPTION"|t() }}</p>
    </div>

    <div class="msg error" id="msg-error" ng-if="error">
        <span class="close" onClick="$('#msg-error').slideUp();"><i class="icon icon-close"></i></span>
        <strong>{{ "CONTACT.MESSAGE_ERROR.TITLE"|t() }}</strong>
        <p>{{ "CONTACT.MESSAGE_ERROR.DESCRIPTION"|t() }}</p>
    </div>

    <div class="order-form-online active" ng-show="!sended">
        <form id="order-online" class="form" action="{{ api_url }}order/create" method="post">
            <!--
            <div class="field select" rel="subject">
                <label>Sujet:</label>
                <div class="input">
                    <select ng-model="order.subject">
                        <option value="contact" selected="selected">Contact</option>
                    </select>
                </div>
            </div>
            -->
            <div class="field" rel="last_name">
                <label>Prénom:</label>
                <div class="input">
                    <input type="text" name="first_name" ng-model="order.first_name" value="{{ order.first_name }}"/>
                </div>
            </div>
            <div class="field" rel="last_name">
                <label>Nom:</label>
                <div class="input">
                    <input type="text" name="last_name" ng-model="order.last_name" value="{{ order.last_name }}"/>
                </div>
            </div>
            <div class="field" rel="street">
                <label>Adresse:</label>
                <div class="input">
                    <input type="text" name="street" ng-model="order.street" value="{{ order.street }}"/>
                </div>
            </div>
            <div class="field" rel="zipcode">
                <label>NPA:</label>
                <div class="input">
                    <input type="text" name="zipcode" ng-model="order.zipcode" value="{{ order.zipcode }}"/>
                </div>
            </div>
            <div class="field" rel="city">
                <label>Ville:</label>
                <div class="input">
                    <input type="text" name="city" ng-model="order.city" value="{{ order.city }}"/>
                </div>
            </div>
            <div class="field" rel="country">
                <label>Pays</label>
                <div class="input">
                    <select ng-options="item.name for item in countries track by item.id" ng-model="order.country"></select>
                </div>
            </div>
            <div class="field" rel="email">
                <label>Email:</label>
                <div class="input">
                    <input type="text" name="email" ng-model="order.email" value="{{ order.email }}"/>
                </div>
            </div>
            <div class="field" rel="phone">
                <label>Téléphone:</label>
                <div class="input">
                    <input type="text" name="address1" ng-model="order.phone" value="{{ order.phone }}"/>
                </div>
            </div>
            <div class="field textarea" rel="comment">
                <label>Commentaire:</label>
                <div class="input">
                    <textarea ng-model="order.comment">
                        {{ order.comment }}
                    </textarea>
                </div>
            </div>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{ config.plugins.maven.recaptcha.site_key }}"></div>

            <footer>
                <button class="btn btn-submit" type="button" ng-click="submit()">
                    <span>Envoyer</span>
                </button>
            </footer>
        </form>
    </div>


    <div class="order-article">
        <div ng-repeat="article in order.articles">
            <div>
                <input type="number" ng-model="article.qty"/>
            </div>
            <div><img src="<$ article.image $>" alt="<$ article.name $>"/></div>
            <div class="name"><$ article.name $><span><i>CHF</i> <$ (article.price).toFixed(2) $></span></div>
            <div class="price"><span><i>CHF</i> <$ (article.price * article.qty).toFixed(2) $></span></div>
        </div>
        <div class="total">
            <div>Total de la commande</div>
            <div class="price"><span><i>CHF</i> <$ getTotalPrice() $></span></div>
        </div>
    </div>


</div>