<a id="titlebar-button-preview" href="{{ object.url() }}?mode=preview&token={{ object.id }}" target="_blank" class="button" title="{{ "PLUGIN_ADMIN.PREVIEW"|tu }}">
	<i class="fa fa-eye"></i>
	{{ "PLUGIN_ADMIN.PREVIEW"|tu }}
</a>
