
@font-size: 13px;
@line-height: 24;
@font-family:arial;

@images:"../resources/images/";

/*
.size(@val:1) { 
    @return: unit(@val/@font-size, em); 
}
*/


@menu-width:220px;

@width-main: 60%;
@width-side: 40%;


@color-white:#ffffff;
@color-black:#002534;

@color-brand: #009ed9;
@color-brand-secondary: #006188;
@color-brand-donation: #d71683;

@color-success:#8fb322;
@color-danger:#e71953;
@color-warning:#e79719;
@color-info:#aed5df;


/*@gutter:unit(20/@font-size, rem);*/
//@gutter:20px;
@gutter:unit(10/@font-size, rem);
@gutterDouble: @gutter*2;

@gutterMargin: @gutter*4;

