<section class="products">
    <!--
    <header>
        <h2 class="title">{{ page.header.title }}</h2>
    </header>
    -->
    <div class="wrapper-content">
        <ul>
            {% for product in page.header.products %}
                <li class="solution-provalerte">
                <article data-link="true">
                    <img src="{{ page.media[product.image].url }}">
                    <div class="content" data-url="">
                        <h2 class="title"><a href="{{ page.find(product.url).url }}">{{ product.title }} <span>{{ product.subtitle }}</span></a></h2>
                        <p>{{ product.summary }}</p>
                        <span class="link-more">
                            <i class="icon icon-arrow-right"></i>
                            En savoir plus
                        </span>
                    </div>
                </articledata-link>
                </li>
            {% endfor %}

        </ul>
    </div>
</section>

<!--
<section class="products-slider">
    <div class="menu slideMenu">
        <ul>
            {% for product in page.header.products %}
                <li class="{{ (loop.index==1)?"active":"" }}"><a href="#{{ product.ref }}" rel="{{ loop.index }}">{{ product.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul class="slides">
            {% for product in page.header.products %}
            <li class="slide">
                <div class="wrapper-content">
                    <div class="product">
                        <img src="{{ page.media[product.image].url }}">
                    </div>
                    <div class="content">
                        <h2 class="title">{{ product.title }}</h2>
                        {{ product.description | markdown }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
-->

<script>

    window.onload = _init;
    function _init() {

        var slider = jQuery('.slides').lightSlider({
            pause: 3000,
            auto: false,
            pauseOnHover: true,
            //adaptiveHeight:true,
            item: 1,
            slideMargin: 0,
            //loop: true,

            onAfterSlide: function (el) {
                //alert(slider.getCurrentSlideCount())
                var index = slider.getCurrentSlideCount();
                jQuery('.slideMenu a').parent().removeClass("active");
                jQuery('.slideMenu a[rel="' + index + '"]').parent().addClass("active");
            }
        });

        jQuery('.slideMenu a').click(function () {
            var index = jQuery(this).attr("rel");
            slider.goToSlide(parseInt(index)-1);
            jQuery('.slideMenu a').parent().removeClass("active");
            jQuery('.slideMenu a[rel="' + index + '"]').parent().addClass("active");
        });

    };

</script>