
<ul class="slides">
    {% for banner in page.header.banners %}
    <li class="slide">
        <div class="container">
            {% if banner.link is not empty %}
            <a target="_blank" href="{{ banner.link }}" class="slide-link"></a>
            {% endif %}

            {% if banner.description is not empty %}
            <div class="content">
                <strong class="title">{{  banner.title }}</strong>
                <p>{{ banner.description }}</p>
                <a class="btn btn-red" target="_blank" href="{{ banner.url }}">
                    <span>Plus d'information</span>
                </a>
            </div>
            {% endif %}

            <img src="{{ page.media[banner.image].url }}"/>
        </div>
    </li>
    {% endfor %}
</ul>

<script>

    window.onload = initSlideshow;
    function initSlideshow() {
        jQuery('.slides').lightSlider({
            pause: 3000,
            //mode: 'fade',
            auto: true,
            pauseOnHover: true,
            //adaptiveHeight:true,
            item: 1,
            slideMargin: 0,
            loop: true
        });
    };
</script>



