<section class="team">
    <header>
        <h2 class="title">{{ page.header.title }}</h2>
    </header>
    <div class="wrapper-content">

        <ul class="collaborators">

            {% for person in page.header.team %}
                <li class="collaborateur">
                    <div>
                        <figure>
                            <img src="{{ page.media[person.picture].url }}">
                        </figure>
                        <div class="content">
                            <h2 class="name">{{ person.firstname }} {{ person.lastname }}</h2>
                            <span>{{ person.role }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}

            <li class="collaborateur">
                <div>
                    <figure>
                        <img src="http://local.dev/provatis.com/public/images/gabriel-mobilia.jpg">
                    </figure>
                    <div class="content">
                        <h2 class="name">Gabriel Mobilia</h2>
                        <span>Externe - Design &amp; Frontend</span>
                        <div class="maven">
                            <svg viewBox="0 0 650 126"><path d="M 590.8,20.429631 C 585.2,5.2296313 564.2,3.7296313 557.9,3.7296313 c 0,0 -2,0 -2,0 -13.7,0 -25.2,4.6 -33.1,13.2999997 -0.2,0.2 -0.5,0.3 -0.7,0.3 -0.1,0 -0.2,0 -0.4,-0.1 -0.4,-0.1 -0.6,-0.5 -0.6,-0.9 V 8.8296313 c 0,0 0,-0.1 0,-0.1 -0.1,-1.2 -6,-3.6 -16.8,-3.6 -10.8,0 -16.8,2.4 -16.8,3.6 0,0 0,0.1 0,0.1 V 42.329631 c -0.4,-1 -0.8,-1.9 -1.1,-2.8 -8.3,-23.1 -24.7,-38.4999997 -55.5,-39.49999971 -8.5,-0.3 -17.1,1.70000001 -25.5,5.00000001 -10.6,4.2 -19.6,10.9999997 -26.2,19.6999997 l 5.9,-16.3999997 c -0.6,-1.3 -6.8,-3.5 -17.8,-3.5 -11.3,0 -17.7,2.4 -17.8,3.6 0,0.1 -21,73.0999997 -21,73.0999997 -0.1,0.4 -0.5,0.7 -1,0.7 -0.5,0 -0.8,-0.3 -1,-0.7 0,0 -21,-72.9999997 -21,-73.0999997 -0.1,-1.3 -6.4,-3.6 -17.8,-3.6 -10.9,0 -17.1,2.2 -17.7,3.5 0,0 0.7,1.8999997 1.9,5.1999997 -9.1,-7.5999997 -25.2,-12.3999997 -42.5,-12.3999997 -22.5,0 -42.4,8 -48.4,19.3999997 0,0 0,0.1 -0.1,0.1 -1.7,3.5 -3,7.4 -3.8,11.1 -0.6,-8.7 -1.8,-11 -1.9,-11 0,-0.1 -0.1,-0.1 -0.1,-0.2 C 169.3,4.9296313 145.9,3.7296313 138.8,3.7296313 c -1.5,0 -2.4,0.1 -2.4,0.1 -13,0 -23.9,4 -31.6,11.6999997 -0.2,0.2 -0.4,0.3 -0.7,0.3 0,0 0,0 -0.1,0 -0.4,0 -0.7,-0.4 -0.7,-0.4 0,0 -12.2,-11.5999997 -31.5,-11.5999997 h -3.4 c -13.7,0 -25.2,4.6 -33.1,13.2999997 -0.2,0.2 -0.5,0.3 -0.7,0.3 -0.1,0 -0.2,0 -0.4,-0.1 -0.4,-0.1 -0.6,-0.5 -0.6,-0.9 V 8.9296313 c 0,0 0,-0.1 0,-0.1 -0.1,-1.2 -6,-3.6 -16.8,-3.6 -10.8,0 -16.8,2.4 -16.8,3.6 0,0 0,0.1 0,0.1 V 117.12963 c 0,0.1 0,0.1 0,0.2 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.3 17,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.3 V 47.329631 c 0,-10 8.1,-17.5 18.9,-17.5 10.8,0 18.9,7.5 18.9,17.5 l 0,69.999999 c 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 11,0 16.8,-2.4 16.8,-3.7 l 0,-0.7 V 47.329631 c 0,-10 8.1,-17.5 18.9,-17.5 10.8,0 18.9,7.5 18.9,17.5 v 69.699999 c 0,0.1 0,0.2 0,0.3 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.4 17,-3.6 0,0 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 v -13.3 c 6.9,11.1 20.5,18.8 35.6,18.8 21.9,0 36,-14.7 36.1,-14.8 0.2,-0.2 0.5,-0.3 0.7,-0.3 0.1,0 0.2,0 0.4,0.1 0.4,0.2 0.6,0.5 0.6,0.9 v 8.5 c 0,0.1 0,0.1 0,0.2 l 0,0.1 c 0,1.2 5.5,3.7 15.7,3.7 10,0 15.5,-2.4 15.7,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.2 V 42.429631 c 11.4,32 26.8,74.999999 26.8,74.999999 0.5,1.1 6.4,3.6 18.4,3.6 11.8,0 17.8,-2.3 18.4,-3.7 l 21.3,-59.299999 c -0.4,9 1.4,18 5.2,26.6 7.1,15.899999 19.5,28.499999 34.2,34.399999 5.7,2.5 11.7,4.3 17.9,5.2 3.1,0.4 6.2,0.7 9.3,0.7 0,0 0,0 0,0 21.8,0 42.5,-11.3 53.6,-28.999999 v 21.299999 c 0,0.1 0,0.2 0,0.2 0,0 0,0 0,0 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.3 17,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.3 V 47.329631 c 0,-10 7.9,-17.4 18.8,-17.5 0,0 0.1,0 0.1,0 10.7,0.1 18.8,7.5 18.8,17.4 v 69.699999 c 0,0.1 0,0.1 0,0.2 0,0 0,0.1 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.9,0 16.9,-2.4 17,-3.7 0,0 0,-0.1 0,-0.1 V 41.529631 c 0,-17.1 -2.1,-20.9 -2.1,-20.9 0,0 -0.1,-0.1 -0.1,-0.2 z m -395.4,36.3 c -7.7,3.2 -13.8,8.2 -17.7,14.2 v -28.9 c 1.8,1 6.1,2.1 12.4,2.1 8.5,0 13.3,-2 13.4,-3 0,0 0,-0.1 0,-0.1 0.8,-9.1 5.2,-13 11.6,-16.1 2.9,-1.4 7.3,-2.1 13,-2.1 0.5,0 1.8,0 1.8,0 9.8,0 16.7,5.3 17.8,13.6 0,0.2 0.5,3.9 0.4,7.3 l 0,0 c 0.1,0.3 0.1,0.6 0,0.9 -0.1,0.3 -0.4,0.5 -0.7,0.5 0,0 -5.9,1 -11.8,2.1 l -27.1,5.2 c -10.3,2.4 -12.9,4.2 -12.9,4.2 -0.1,0 -0.1,0.1 -0.2,0.1 z m 25.4,42.3 c -9.3,0 -15.8,-4.9 -15.8,-12 0,-5.5 3.8,-11.2 8.9,-13.3 0.2,-0.1 4.4,-1.8 9.2,-3.1 4.7,-1.3 24.8,-7.2 25,-7.3 0.1,0 0.2,0 0.3,0 0.2,0 0.4,0.1 0.6,0.2 0.3,0.2 0.4,0.5 0.4,0.8 0,0.4 -1.1,34.7 -28.6,34.7 z m 179.4,-36.9 c -0.1,0 -0.3,0 -0.4,-0.1 -0.2,-0.1 -0.4,-0.3 -0.5,-0.6 -1.5,-3.9 -0.8,-9.9 1.8,-15.6 2.1,-4.6 7.2,-13 18.1,-17.1 4.9,-1.9 9.6,-2.8 13.7,-2.8 8.9,0 16.1,4.2 22,12.9 0.2,0.2 0.2,0.6 0.1,0.9 -0.1,0.3 -0.3,0.5 -0.6,0.6 l -53.8,21.7 c -0.1,0 -0.2,0.1 -0.4,0.1 z m 72.9,9 c -2.5,0.4 -3.3,2.2 -3.3,2.2 -2.5,4.7 -5.2,8.5 -8,11.5 -2.7,3.2 -6,6 -9.6,8.1 -3.5,2.2 -5.9,2.9 -5.9,2.9 -4.2,1.8 -8.5,2.4 -13,2.4 0,0 0,0 0,0 -12,0 -23.4,-6.5 -26.4,-12.5 -0.1,-0.3 -0.1,-0.5 0,-0.8 0.1,-0.3 0.3,-0.5 0.6,-0.6 l 80.2,-31.2 v 17.4 c -6,-0.2 -12,0.2 -14.6,0.6 z m 173.4,31.499999 c 0,11.4 -9.3,20.7 -20.7,20.7 -11.4,0 -20.7,-9.3 -20.7,-20.7 0,-11.399999 9.3,-20.699999 20.7,-20.699999 11.4,-0.1 20.7,9.2 20.7,20.699999 z"></path></svg>
                        </div>
                    </div>
                </div>
            </li>
            <li class="collaborateur">
                <div>
                    <figure>
                        <img src="http://local.dev/provatis.com/public/images/jennifer-defrancesco.jpg">
                    </figure>
                    <div class="content">
                        <h2 class="name">Jennifer De Francesco</h2>
                        <span>Externe - Design &amp; Print</span>
                        <div class="maven">
                            <svg viewBox="0 0 650 126"><path d="M 590.8,20.429631 C 585.2,5.2296313 564.2,3.7296313 557.9,3.7296313 c 0,0 -2,0 -2,0 -13.7,0 -25.2,4.6 -33.1,13.2999997 -0.2,0.2 -0.5,0.3 -0.7,0.3 -0.1,0 -0.2,0 -0.4,-0.1 -0.4,-0.1 -0.6,-0.5 -0.6,-0.9 V 8.8296313 c 0,0 0,-0.1 0,-0.1 -0.1,-1.2 -6,-3.6 -16.8,-3.6 -10.8,0 -16.8,2.4 -16.8,3.6 0,0 0,0.1 0,0.1 V 42.329631 c -0.4,-1 -0.8,-1.9 -1.1,-2.8 -8.3,-23.1 -24.7,-38.4999997 -55.5,-39.49999971 -8.5,-0.3 -17.1,1.70000001 -25.5,5.00000001 -10.6,4.2 -19.6,10.9999997 -26.2,19.6999997 l 5.9,-16.3999997 c -0.6,-1.3 -6.8,-3.5 -17.8,-3.5 -11.3,0 -17.7,2.4 -17.8,3.6 0,0.1 -21,73.0999997 -21,73.0999997 -0.1,0.4 -0.5,0.7 -1,0.7 -0.5,0 -0.8,-0.3 -1,-0.7 0,0 -21,-72.9999997 -21,-73.0999997 -0.1,-1.3 -6.4,-3.6 -17.8,-3.6 -10.9,0 -17.1,2.2 -17.7,3.5 0,0 0.7,1.8999997 1.9,5.1999997 -9.1,-7.5999997 -25.2,-12.3999997 -42.5,-12.3999997 -22.5,0 -42.4,8 -48.4,19.3999997 0,0 0,0.1 -0.1,0.1 -1.7,3.5 -3,7.4 -3.8,11.1 -0.6,-8.7 -1.8,-11 -1.9,-11 0,-0.1 -0.1,-0.1 -0.1,-0.2 C 169.3,4.9296313 145.9,3.7296313 138.8,3.7296313 c -1.5,0 -2.4,0.1 -2.4,0.1 -13,0 -23.9,4 -31.6,11.6999997 -0.2,0.2 -0.4,0.3 -0.7,0.3 0,0 0,0 -0.1,0 -0.4,0 -0.7,-0.4 -0.7,-0.4 0,0 -12.2,-11.5999997 -31.5,-11.5999997 h -3.4 c -13.7,0 -25.2,4.6 -33.1,13.2999997 -0.2,0.2 -0.5,0.3 -0.7,0.3 -0.1,0 -0.2,0 -0.4,-0.1 -0.4,-0.1 -0.6,-0.5 -0.6,-0.9 V 8.9296313 c 0,0 0,-0.1 0,-0.1 -0.1,-1.2 -6,-3.6 -16.8,-3.6 -10.8,0 -16.8,2.4 -16.8,3.6 0,0 0,0.1 0,0.1 V 117.12963 c 0,0.1 0,0.1 0,0.2 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.3 17,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.3 V 47.329631 c 0,-10 8.1,-17.5 18.9,-17.5 10.8,0 18.9,7.5 18.9,17.5 l 0,69.999999 c 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 11,0 16.8,-2.4 16.8,-3.7 l 0,-0.7 V 47.329631 c 0,-10 8.1,-17.5 18.9,-17.5 10.8,0 18.9,7.5 18.9,17.5 v 69.699999 c 0,0.1 0,0.2 0,0.3 0,0 0,0 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.4 17,-3.6 0,0 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 v -13.3 c 6.9,11.1 20.5,18.8 35.6,18.8 21.9,0 36,-14.7 36.1,-14.8 0.2,-0.2 0.5,-0.3 0.7,-0.3 0.1,0 0.2,0 0.4,0.1 0.4,0.2 0.6,0.5 0.6,0.9 v 8.5 c 0,0.1 0,0.1 0,0.2 l 0,0.1 c 0,1.2 5.5,3.7 15.7,3.7 10,0 15.5,-2.4 15.7,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.2 V 42.429631 c 11.4,32 26.8,74.999999 26.8,74.999999 0.5,1.1 6.4,3.6 18.4,3.6 11.8,0 17.8,-2.3 18.4,-3.7 l 21.3,-59.299999 c -0.4,9 1.4,18 5.2,26.6 7.1,15.899999 19.5,28.499999 34.2,34.399999 5.7,2.5 11.7,4.3 17.9,5.2 3.1,0.4 6.2,0.7 9.3,0.7 0,0 0,0 0,0 21.8,0 42.5,-11.3 53.6,-28.999999 v 21.299999 c 0,0.1 0,0.2 0,0.2 0,0 0,0 0,0 0.2,1.3 6.2,3.6 17,3.6 10.8,0 16.8,-2.3 17,-3.6 0,0 0,-0.1 0,-0.1 0,-0.1 0,-0.2 0,-0.3 V 47.329631 c 0,-10 7.9,-17.4 18.8,-17.5 0,0 0.1,0 0.1,0 10.7,0.1 18.8,7.5 18.8,17.4 v 69.699999 c 0,0.1 0,0.1 0,0.2 0,0 0,0.1 0,0.1 0.2,1.3 6.2,3.6 17,3.6 10.9,0 16.9,-2.4 17,-3.7 0,0 0,-0.1 0,-0.1 V 41.529631 c 0,-17.1 -2.1,-20.9 -2.1,-20.9 0,0 -0.1,-0.1 -0.1,-0.2 z m -395.4,36.3 c -7.7,3.2 -13.8,8.2 -17.7,14.2 v -28.9 c 1.8,1 6.1,2.1 12.4,2.1 8.5,0 13.3,-2 13.4,-3 0,0 0,-0.1 0,-0.1 0.8,-9.1 5.2,-13 11.6,-16.1 2.9,-1.4 7.3,-2.1 13,-2.1 0.5,0 1.8,0 1.8,0 9.8,0 16.7,5.3 17.8,13.6 0,0.2 0.5,3.9 0.4,7.3 l 0,0 c 0.1,0.3 0.1,0.6 0,0.9 -0.1,0.3 -0.4,0.5 -0.7,0.5 0,0 -5.9,1 -11.8,2.1 l -27.1,5.2 c -10.3,2.4 -12.9,4.2 -12.9,4.2 -0.1,0 -0.1,0.1 -0.2,0.1 z m 25.4,42.3 c -9.3,0 -15.8,-4.9 -15.8,-12 0,-5.5 3.8,-11.2 8.9,-13.3 0.2,-0.1 4.4,-1.8 9.2,-3.1 4.7,-1.3 24.8,-7.2 25,-7.3 0.1,0 0.2,0 0.3,0 0.2,0 0.4,0.1 0.6,0.2 0.3,0.2 0.4,0.5 0.4,0.8 0,0.4 -1.1,34.7 -28.6,34.7 z m 179.4,-36.9 c -0.1,0 -0.3,0 -0.4,-0.1 -0.2,-0.1 -0.4,-0.3 -0.5,-0.6 -1.5,-3.9 -0.8,-9.9 1.8,-15.6 2.1,-4.6 7.2,-13 18.1,-17.1 4.9,-1.9 9.6,-2.8 13.7,-2.8 8.9,0 16.1,4.2 22,12.9 0.2,0.2 0.2,0.6 0.1,0.9 -0.1,0.3 -0.3,0.5 -0.6,0.6 l -53.8,21.7 c -0.1,0 -0.2,0.1 -0.4,0.1 z m 72.9,9 c -2.5,0.4 -3.3,2.2 -3.3,2.2 -2.5,4.7 -5.2,8.5 -8,11.5 -2.7,3.2 -6,6 -9.6,8.1 -3.5,2.2 -5.9,2.9 -5.9,2.9 -4.2,1.8 -8.5,2.4 -13,2.4 0,0 0,0 0,0 -12,0 -23.4,-6.5 -26.4,-12.5 -0.1,-0.3 -0.1,-0.5 0,-0.8 0.1,-0.3 0.3,-0.5 0.6,-0.6 l 80.2,-31.2 v 17.4 c -6,-0.2 -12,0.2 -14.6,0.6 z m 173.4,31.499999 c 0,11.4 -9.3,20.7 -20.7,20.7 -11.4,0 -20.7,-9.3 -20.7,-20.7 0,-11.399999 9.3,-20.699999 20.7,-20.699999 11.4,-0.1 20.7,9.2 20.7,20.699999 z"></path></svg>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>