{% extends 'layouts/email.html.twig' %}

{% block resume %}
    {{ comment|raw }}
{% endblock %}

{#
{% block warning %}{% endblock %}
#}

{% block content %}

    <h1 style="font-family: sans-serif; font-size: 16px;margin-bottom: 20px;padding: 5px;">Message envoyé depuis votre site :</h1>

    <div style="font-family: sans-serif; font-size: 16px;margin-bottom: 30px;padding: 5px;">
        {{ comment|raw }}
    </div>

    <h2 style="font-family: sans-serif; font-size: 16px;margin-bottom: 10px;padding: 5px;">Informations personnelles :</h2>

    <table cellpadding="5" cellspacing="0">
        <tr>
            <td style="font-family: sans-serif; font-size: 14px; font-weight: normal;">{{ t['form.firstname'] }}:</td>
            <td>&nbsp;</td>
            <td style="font-family: sans-serif; font-size: 14px; font-weight: normal;">{{ firstname }}</td>
        </tr>
        <tr>
            <td style="font-family: sans-serif; font-size: 14px; font-weight: normal;">{{ t['form.lastname'] }}:</td>
            <td>&nbsp;</td>
            <td style="font-family: sans-serif; font-size: 14px; font-weight: normal;">{{ lastname }}</td>
        </tr>
        <tr>
            <td>{{ t['form.phone'] }}:</td>
            <td>&nbsp;</td>
            <td>{{ phone }}</td>
        </tr>
        <tr>
            <td>{{ t['form.email'] }}:</td>
            <td>&nbsp;</td>
            <td>{{ email }}</td>
        </tr>
    </table>

{% endblock %}