<script>
    // Default ad_storage to 'denied'.
    gtag('consent', 'default', {
        {% for item in config.plugins['maven-grav'].rgpd_scripts %}
            {% set value = item.initialization ? "granted" : "denied" %}
            {{ item.variable ~ '_storage' }}: '{{ value }}',
        {% endfor %}
    });
</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ config.plugins['maven-grav'].google_gtm_id }}');
</script>

