<div class="weebox-popin weebox-popin-{{ popin.slug }}">
    <div class="weebox-popin-wrapper">
        <div class="weebox-popin-container">
            <div style="background-image:url('{{ page.find("/config").media[popin.image].url }}');"></div>
            <div>
                <span class="close">x</span>
                {{ popin.content|markdown }}
            </div>
        </div>
    </div>
</div>
<style>
    .weebox-popin{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1000000;
        display: none;
    }
    .weebox-popin .weebox-popin-wrapper{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: 5vw;
    }
    .weebox-popin .weebox-popin-container{
        position: relative;
        background: rgba(255,255,255,1);
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(50%);
        transition: all 500ms ease-in-out;
    }
    .weebox-popin .weebox-popin-container > div:nth-child(1){
        display: block;
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .weebox-popin .weebox-popin-container > div:nth-child(2){
        padding: 12vw 6vw;
        text-align: center;
        flex: 1;
        margin-left: 50%;
    }
    @media only screen and (max-width: 640px){
        .weebox-popin .weebox-popin-container > div:nth-child(1){
            width: 100%;
            height: 200px;
        }
        .weebox-popin .weebox-popin-container > div:nth-child(2){
            margin-left: 0%;
            margin-top: 200px;
        }
    }
    .weebox-popin .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #333;
        background: rgba(0,0,0,0.05);
        font-size: 30px;
        cursor: pointer;
        transition: all 180ms ease-in-out;
    }
    .weebox-popin .close:hover{
        background: rgba(0,0,0,0.1);
    }
    .weebox-popin h4{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.8em;
    }
    .weebox-popin strong{
        font-weight: bold;
        color: var(--color-main);
    }
    .weebox-popin p span{
        font-weight: bold;
        font-family: "Courier New";
        font-size: 1.4em;
        display: inline-block;
        padding: 10px 20px;
        background: #eee;
        border: dashed 1px #aaa;
        margin-top: 1em;
    }
    .weebox-popin.show .weebox-popin-container{
        opacity: 1;
        transform: translateY(0%);
    }
    .weebox-popin.hide .weebox-popin-container{
        transform: translateY(-50%);
    }
</style>
<script>

    $(document).ready(function(){

        var x = getCookie('weebox-popin-{{ popin.slug }}');

        {% set date = (now|date('Y-m-d H:i', "Europe/Paris"))|date('U') %}
        {% set date_start = popin.date_start ? popin.date_start|date('U') : date %}
        {% set date_end = popin.date_end ? popin.date_end|date('U') : (date + 1) %}
        {% set duration = popin.duration ? popin.duration : 1 %}

        {% if grav.uri.query("utm_campaign") == popin.slug %}
        {% if date >= date_start and date <= date_end %}
        if (!x) {
            setCookie('weebox-popin-{{ popin.slug }}', 'show', {{ duration }});
            x = 'show';
        }
        {% else %}
        eraseCookie('weebox-popin-{{ popin.slug }}');
        x = 'hide';
        {% endif %}
        {% endif %}

        if ( x === 'show' ) {
            var popup = $(".weebox-popin-{{ popin.slug }}");
            setTimeout(function(){
                popup.removeClass("hide").fadeIn(500, function(){
                    popup.addClass("show");
                });
            }, 1000);
            popup.find(".weebox-popin-wrapper").click(function(e){
                var target = e.target || e.srcElement;
                if( target.className == "weebox-popin-wrapper"){
                    popup.removeClass("show").addClass("hide");
                    popup.fadeOut(500);
                }
            });
            popup.find(".close").click(function(){
                setCookie('weebox-popin-{{ popin.slug }}', 'hide', {{ duration }});
                popup.removeClass("show").addClass("hide");
                popup.fadeOut(500);
            });
        }
    });
</script>