{% if config.enabled_rgpd %}
<section id="rgpd-configuration">
	{% for item in config.rgpd_scripts %}
		<div class="toggle-option">
			<label class="switch" style="opacity: 0;">
				<input type="checkbox" name="{{ item.variable }}" {% if item.active %}checked{% endif%} {% if item.is_editable != 1 %}disabled="disabled"{% endif%}/>
				<span class="slider"></span>
			</label>

			<span>{{ __(item.name) }}</span>
			<p>{{ __(item.description) }}</p>
		</div>
	{% endfor %}
</section>
{% endif %}