<div class="rgpd-form-consent-checkbox">
    <div class="form-checkbox" style="width: 100%;" rel="rgpd_consent_form">
        <div class="form-label"></div>
        <div class="form-input" style="border: 0px;box-shadow: none;">
            <div class="form-input-wrapper">
                <label>
                    <input type="hidden" name="rgpd_consent_form_confirm" value="{{ __('rgpd.form.consent.alert') }}"/>
                    <input type="checkbox" name="rgpd_consent_form" value="1"/>
                    <span style="white-space: pre-wrap;">{{ __('rgpd.form.consent.label') }}</span>
                </label>
            </div>
        </div>
    </div>
</div>